<div class="brandhub-carousel">
	{{#each item}}
		{{bh-item series=series episode=episode thumbnail=thumbnail date=date remindable=remindable playMeClicked='handlePlayMeClicked' remindMeClicked='handleRemindMeClicked'}}
	{{/each}}
</div>