<div class="bh-item js-bh-item">
	<img {{bind-attr src=thumbnail}} class="bh-thumbnail"/>
	<div class="bh-item-meta">
		{{#if remindable}}
			<div class="bh-item-remind-btn js-bh-item-remind-btn"></div>
		{{else}}
			<div class="bh-item-play-btn"></div>
		{{/if}}
		<span class="bh-item-meta-text bh-item-meta-text-title">Series {{series}}, Episode {{episode}}</span><br/>
		<span class="bh-item-meta-text bh-item-meta-text-date">{{date}}</span>
	</div>
</div>