<div class="bh-paginator-wrapper">
	<ul class="bh-paginator-list">
		{{#each item in dataProvider}}
			<li class="bh-paginator-list-item js-bh-paginator-list-item">
				<a href="#" {{action 'itemClicked' item}} class="bh-paginator-list-item-link">{{item}}</a>
			</li>
		{{/each}}
	</ul>
</div>