<div class="container">
    <div class="row">
        <div {{bind-attr class=":navbar :navbar-default :js-navbar isFixed:navbar-fixed-top"}}" role="navigation" id="navBar">
            <div class="navbar-header">
                <div class="container">

                    <ul class="nav navbar-nav pull-left">

                        {{#if user}}
                            <li class="dropdown js-navbar-listitem">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="text">SIGNED IN AS:<br/>{{user.fullName}}</span>
                                    <span class="caret" />
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="dropdown-menu__item">
                                        <a href="#" {{action 'accountSettingsClicked'}} class="dropdown-menu__link">Account Settings<span class="dropdown-menu__icon icon-settings" /></a>
                                    </li>
                                    <li class="dropdown-menu__item">
                                        <a href="#" {{action 'signOutClicked'}} class="dropdown-menu__link">Sign Out<span class="dropdown-menu__icon icon-signout" /></a>
                                    </li>
                                    <li class="dropdown-menu__footer">
                                        <span>Not you? <a href="#" {{action 'signInClicked'}}>Sign in</a> or <a href="#">create an account</a></span>
                                    </li>
                                </ul>
                            </li>
                        {{else}}
                            <li class="js-navbar-listitem">
                                <a href="#" {{action 'signInClicked'}}><span class="text">Sign In </span><span class="nav-icon icon-signin" /></a>
                            </li>
                        {{/if}}
                        
                        {{#link-to 'myfour' tagName="li" href=false class="js-navbar-listitem"}}
                            {{#link-to 'myfour' activeClass=""}}
                                <span class="text">My4 </span><span {{bind-attr class=":nav-icon :icon-my4 userWithNotification"}} />
                            {{/link-to}}
                        {{/link-to}}
                    </ul>

                    <ul class="nav navbar-nav pull-right">
                        {{#link-to 'epg' tagName="li" href=false class="js-navbar-listitem"}}
                            {{#link-to 'epg' activeClass=""}}
                                <span class="text">Guide </span><span class="nav-icon icon-guide" />
                            {{/link-to}}
                        {{/link-to}}
                        <li {{bind-attr class="isDropdownOpen:active"}}>
                            <a href="" {{action 'toggleDropdown'}}><span class="text">Discover </span><span class="nav-icon icon-discover" /></a>
                        </li>
                    </ul>

                    <div class="navbar-brand-outer">
                        {{#link-to 'index' classNames="navbar-brand js-navbar-listitem"}}<img class="c4-logo" src="/assets/img/nav/c4_logo.png"/>{{/link-to}}
                    </div>
                </div>
            </div>
            {{ home-nav-mini listenTo=listenTo }}
        </div>

        <div class="container discover-dropdown section-wrapper" {{bind-attr class="isDropdownOpen:is-open"}}>
            <div class="row">
                {{search-box globalNavDropdownOpen=isDropdownOpen}}
                {{responsive-image src="/assets/img/discover/Search-Panel-mobile.png, /assets/img/discover/Search-Panel-desktop.png, /assets/img/discover/Search-Panel-desktop.png"}}

                {{#link-to 'categories.az' 'a' classNames="az-link"}}{{/link-to}}
                {{#link-to 'categories.comedy' classNames="comedy-link"}}{{/link-to}}
                {{#link-to 'shorts' classNames="shorts-link"}}{{/link-to}}
                {{#link-to 'catchup' classNames="catchup-link"}}{{/link-to}}
                {{#link-to 'e4' classNames="e4-link"}}{{/link-to}}
                {{#link-to 'categories.entertainment' classNames="entertainment"}}{{/link-to}}



            </div>
        </div>

    </div>
</div>