{{!-- <div id="miniNav" class="mini-nav">
	{{partial 'components/home-nav' }}
</div> --}}

<div id="miniNav" class="mini-nav" >
	<div class="home-nav-wrap" id="js-home-nav">
		<div class="state-nav home-nav" data-size='big'>
			<ul class="list-inline">
				<li class="hp-state on-demand col-md-4">
					{{#link-to 'index.demand' tagName='a'}}<span>On Demand</span>{{/link-to}}
				</li>
				<li class="hp-state on-four col-md-4">
					{{#link-to 'index.index' tagName='a'}}<span>Now</span>{{/link-to}}
				</li>
				<li class="hp-state on-soon col-md-4">
					{{#link-to 'index.soon' tagName='a'}}<span>On Soon</span>{{/link-to}}
				</li>
				
			</ul>
		</div>
	</div>

</div>
