<div class="home-nav-wrap" id="js-home-nav" data-home-nav='{"foo" : "bar"}'>
	<div class="state-nav home-nav" data-size='big'>
		<ul class="list-inline">
			{{#link-to 'index.demand' class="hp-state on-demand col-md-4" tagName='li'}}<span>On Demand</span>{{/link-to}}
			{{#link-to 'index.index' class="hp-state on-four col-md-4" tagName='li'}}<span>Now</span>{{/link-to}}
			{{#link-to 'index.soon' class="hp-state on-soon col-md-4" tagName='li'}}<span>On Soon</span>{{/link-to}}
		</ul>
	</div>
</div>
