<div class="login-container">
	<div class="login-background" {{action 'cancel'}}></div>

	<div class="login-form">
		<a href="#" class="cancel-btn" {{action 'cancel'}}></a>
		<form role="form">
		  <div class="form-group">
		    <input type="email" class="form-control text-input-field" id="exampleInputEmail1" placeholder="Enter email">
		  </div>
		  <div class="form-group">
		    <input type="password" class="form-control text-input-field" id="exampleInputPassword1" placeholder="Password">
		  </div>
		  <a href="#" class="signin-button" {{action 'submit'}}></a>
		  <a href="#" class="register-button" {{action 'cancel'}}></a>
		</form>
	</div>
</div>
