<div class="notification-dropdown">

	{{#if hasNotification}}
		{{responsive-image src="/assets/img/my4/notification_list_mobile.png, /assets/img/my4/notification_list_desktop.png, /assets/img/my4/notification_list_desktop.png"}}

	{{else}}
		{{responsive-image src="/assets/img/my4/no_notifications_mobile.png, /assets/img/my4/no_notifications_desktop.png, /assets/img/my4/no_notifications_desktop.png"}}
	{{/if}}

</div>