<div class="search-box">
	<input type="text" placeholder="Search FOUR..." id="searchInput" class="search-input"/>
	{{#linkTo 'mic'}}
		<div class="search-results" {{action 'resultsClicked' on='click'}}>
			{{responsive-image src="/assets/img/discover/search_results_mobile.png, /assets/img/discover/search_results_desktop.png, /assets/img/discover/search_results_desktop.png"}}
		</div>
	{{/linkTo}}
</div>