button
	outline none

.action-btn
	background-color: transparent
	background-repeat: no-repeat
	background-size: 70%
	background-position: center center
	border: none
	color: white
	font-family: $c4-medium
	font-size: 12px
	-webkit-appearence: none
	width: 26px
	height: 26px
	text-indent: -999px
	text-transform: uppercase

	.on-now &
		background-color: $onnow

	.on-demand &
		background-color: $ondemand

	.coming-up &
		background-color: $comingup

	@media mintablet
		background-position: center 10px
		padding-top: 40px
		width: 56px
		height: 56px
		text-indent: 0


.reminder-btn
	background-image: url('../images/icons/reminder_icon.png')

	@media mintablet
		background-size: 45%

.play-btn
	background-image: url('../images/icons/play_icon.png')
	background-size: 35%

.notype-btn
	background-position: center center
	height: 45px
	width: 45px

	@media iphone
		height: 25px
		width: 25px

	&.sml-btn
		padding:0
		height: 30px
		width: 30px

	&.md-btn
		padding 0
		height 46px
		width 46px


.time-info
	background: rgba(51,51,51,0.8)
	color: white
	display: inline-block
	font-family: $c4-medium
	padding: 5px 10px
	vertical-align: top
	margin-left: -5px
