.icon
	background-repeat: no-repeat
	background-size: 100%
	display: block
	width:23px
	height:23px

.nav-icon
	background-repeat: no-repeat
	display inline-block
	background-size 100%

.icon-info
	background-image: url('../images/icons/info_icon.png')

	@media iphone
		width: 20px

.icon-c4
	background-image: url('../images/icons/c4_icon.png')

	&--dark
		background-image: url('../images/icons/dark_bcg/icon_c4.png')

.icon-e4
	background-image: url('../images/icons/e4_icon.png')

	&--dark
		background-image: url('../images/icons/dark_bcg/icon_e4.png')

.icon-film4
	background-image: url('../images/icons/film4_icon.png')

	&--dark
		background-image: url('../images/icons/dark_bcg/icon_film4.png')

.icon-more4
	background-image: url('../images/icons/more4_icon.png')

	&--dark
		background-image: url('../images/icons/dark_bcg/icon_more4.png')

.icon-4seven
	background-image: url('../images/icons/4seven_icon.png')

	&--dark
		background-image: url('../images/icons/dark_bcg/icon_4seven.png')



.icon-right-arrow
	background-image: url("../images/icons/chevron_right_icon.png")
	background-repeat: no-repeat
	background-size: 30%
	background-position: center center
	display: block
	width: 35px
	height: 35px

//v4
.icon-my4
	background-image: url("/assets/img/nav/btn_my_four_icon_normal.png")
	width 16px
	height 14px

	.active &
		background-image: url("/assets/img/nav/btn_my_four_icon_selected.png")

	&.user-with-notification
		background-image: url("/assets/img/nav/btn_my_four_icon_notification.png")
		width 20px
		height 17px

		.active &
			background-image: url("/assets/img/nav/btn_my_four_icon_notification_selected.png")

.icon-discover
	background-image: url("/assets/img/nav/btn_discover_icon_normal.png")
	width: 22px
	height: 14px

	.active &
		background-image: url("/assets/img/nav/btn_discover_icon_selected.png")

.icon-guide
	background-image: url("/assets/img/nav/btn_guide_icon_normal.png")
	width: 16px
	height: 14px

	.active &
		background-image: url("/assets/img/nav/btn_guide_icon_selected.png")

.icon-signin
	background-image: url("/assets/img/nav/btn_sign_in_icon_normal.png")
	width 13px
	height 14px

	.active &
		background-image: url("/assets/img/nav/btn_sign_in_icon_selected.png")

.icon-signout
	background-image: url("/assets/img/nav/btn_sign_out_icon_normal.png")
	width 13px
	height 14px

	.active &
		background-image: url("/assets/img/nav/btn_sign_out_icon_selected.png")

.icon-settings
	background-image: url("/assets/img/nav/btn_account_setting_icon_normal.png")
	width 15px
	height 15px

	.active &
		background-image: url("/assets/img/nav/btn_account_setting_icon_selected.png")

.c4-logo
	width 64px
	height 42px
	margin-top 13px

