<div class="container">
    <div class="row az-nav">
    	<ul class="list-inline">
					<li><a href="#a" class="atoz-link">A</a></li>
					<li><a href="#b" class="atoz-link">b</a></li>
					<li><a href="#c" class="atoz-link">c</a></li>
					<li><a href="#d" class="atoz-link">d</a></li>
					<li><a href="#e" class="atoz-link">e</a></li>
					<li><a href="#f" class="atoz-link">f</a></li>
					<li><a href="#g" class="atoz-link">g</a></li>
					<li><a href="#h" class="atoz-link">h</a></li>
					<li><a href="#i" class="atoz-link">i</a></li>
					<li><a href="#j" class="atoz-link">j</a></li>
					<li><a href="#k" class="atoz-link">k</a></li>
					<li><a href="#l" class="atoz-link">l</a></li>
					<li><a href="#m" class="atoz-link">m</a></li>
					<li><a href="#n" class="atoz-link">n</a></li>
					<li><a href="#o" class="atoz-link">o</a></li>
					<li><a href="#p" class="atoz-link">p</a></li>
					<li><a href="#q" class="atoz-link">q</a></li>
					<li><a href="#r" class="atoz-link">r</a></li>
					<li><a href="#s" class="atoz-link">s</a></li>
					<li><a href="#t" class="atoz-link">t</a></li>
					<li><a href="#u" class="atoz-link">u</a></li>
					<li><a href="#v" class="atoz-link">v</a></li>
					<li><a href="#w" class="atoz-link">w</a></li>
					<li><a href="#x" class="atoz-link">x</a></li>
					<li><a href="#y" class="atoz-link">y</a></li>
					<li><a href="#z" class="atoz-link">z</a></li>
    	</ul>
    </div>
</div>
<div class="container grid-results" >
	<img src="../assets/img/discover/mpu.png" class='desktop_ad'>
		
		{{#each categories}}
			<section {{bind-attr class='this.letter'}}>
			
				<div {{bind-attr id='this.letter'}} class="section-flag">
					{{this.letter}}
				</div>
				
				<div class="row">
				{{#each this.programmes}}
						<div class="col-md-3">
							<div class="grid-item">
								{{#if this.url}}
									{{#link-to this.url}}
										{{this.title}}
									{{/link-to}}
								{{else}}
									<a>{{this.title}}</a>
								{{/if}}
								<span>{{this.meta}}</span>
							</div>
						</div>
				{{/each}}
				</div>
			
			</section>
		{{/each}}
</div>