<div class="container">
    <div class="row">
        {{responsive-image src="/assets/img/categories/orderby_mobile.jpg, /assets/img/categories/orderby_desktop.jpg, /assets/img/categories/orderby_desktop.jpg"}}
    </div>
</div>
<div class="container">
    <div class="row">
        {{responsive-image src="/assets/img/categories/comedy_mobile.png, /assets/img/categories/comedy_tablet.png, /assets/img/categories/comedy_desktop.png"}}
    </div>
</div>