<div class="container">
    <div class="row">
        {{responsive-image src="/assets/img/categories/orderby_mobile.jpg, /assets/img/categories/orderby_desktop.jpg, /assets/img/categories/orderby_desktop.jpg"}}
    </div>
</div>
<div class="container">
    <div class="row">
        {{responsive-image src="/assets/img/categories/mobile_entertainment.png, /assets/img/categories/tablet_entertainment.png, /assets/img/categories/desktop_entertainment.png"}}
    </div>
</div>