.action-btn
	background: transparent
	background-size: 100% 100%
	height: 49px
	width: 49px

	+when(iphone)
		height: 46px
		width: 46px

.favourite-popup
	position: absolute
	top: 50%
	left: 50%
	margin-left: -231.5px
	margin-top: -229px
	z-index: 2500


.overlay
	background: white
	opacity: 0.8
	position:fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 2300


.mic-favourite
	background: url('../img/buttons/favouriteInActive.png') no-repeat top left
	position: absolute
	bottom: 0
	left: 230px

	+when(iphone)
		left 98px

	&.is-favourite
		background-image: url('../img/buttons/favouriteActive.png');

.utopia-favourite
	background: url('../img/buttons/btn_favourite_normal.png') no-repeat top left
	background-size: 100%
	position: absolute
	bottom: 0
	left: 115px

	+when(iphone)
		left: 88px

	&.is-favourite
		background-image: url('../img/buttons/btn_favourite_selected.png');

.notification-favourite
	position: absolute
	top: 40%
	right: -600px


.mic-reminder
	background: url('../img/buttons/remindmeInactive.png') no-repeat top left
	position: absolute
	bottom: 0
	left: 280px

	+when(iphone)
		left 144px

	&.is-reminder
		background-image: url('../img/buttons/remindmeActive.png');

.utopia-reminder
	background: url('../img/buttons/btn_remind_me_normal.png') no-repeat top left
	background-size: 100%
	position: absolute
	bottom: 0
	left: 164px

	+when(iphone)
		left: 134px

	&.is-reminder
		background-image: url('../img/buttons/btn_remind_me_selected.png');

.notification-reminder
	position: absolute
	top: 35%
	right: -600px