//body
	//overflow-y hidden

.bh-carousel-container
	margin 0 25px

	@media iphone
		margin 0

.bh-thumbnail
	width: 100%
	padding: 0 8px

	@media iphone
		padding 0 5px

.bh-item
	position relative
	cursor pointer

.bh-item-meta
	position absolute
	bottom 20px
	left 0
	color white
	margin-left 8px
	font-family: "Channel 4 Regular",C4_head_reg,Arial,sans-serif;

	@media iphone
		margin-left 5px

	&-text
		display inline-block
		line-height: 20px;
		padding: 3px 5px 0 5px;

	&-text-title
		background-color #333333
		font-size 15px

	&-text-date
		background-color #333333
		font-size 11px

.bh-metadata-img,
.bh-episodes-img
	width 100%
	padding: 15px;
	background-color: white;

.bh-img-container
	float left
	width 50%
	padding 20px 20px 0 20px

	@media iphone
		width 100%
		padding 0 0 10px 15px

.bh-advert-container
	display none

	@media desktop
		display inline-block
		float left
		width 350px
		text-align center
		padding-top 20px

.bh-advert-img
	width 300px
	height 270px

.bh-meta-container
	background-color white
	display inline-block
	width 100%

	@media desktop
		float left
		width 650px

	@media ipad
		float right
		width 860px

	@media iphone
		background-color transparent

.slick-slider
	margin-bottom 0px

