.bh-paginator
	padding 20px
	text-align center
	font-family: "Channel 4 Regular",C4_head_reg,Arial,sans-serif;

	&.utopia
		background-color: #f4cc3f
		background:url("/assets/img/utopia-hub/utopia_episode_list_nav_desktop.png")

		+when(iphone)
			background:url("/assets/img/utopia-hub/utopia_episode_list_nav_mobile.png")
			text-align right

	&.mic
		background-color: #6d2c84
		background:url("/assets/img/mic-hub/mic_episode_list_nav_desktop.png")

		+when(iphone)
			background:url("/assets/img/mic-hub/mic_episode_list_nav_mobile.png")
			text-align right

.bh-paginator-list-item
	background-color rgba(0,0,0,0.2)
	display inline-block
	border-radius 15px
	margin: 0 2px

	.bh-paginator-list-item-link
		color white
		padding 6px 11px 4px
		display inline-block

	&.active
		background-color white

		.bh-paginator-list-item-link
			padding 6px 15px 4px
			color black

			&::before
				content: 'Series '

.bh-paginator-wrapper
	.mic &
		+when(iphone)
			width:192px
			overflow-x: scroll
			///-webkit-overflow-scrolling: touch
			margin-left: 107px

			.bh-paginator-list
				width:344px
				padding-right:10px