.header-row
	position: relative

button.slick-prev,
button.slick-next
	width:33px

.brand-mic
	background: #562469

	button.slick-prev,
	button.slick-next
		background: #562469

	.bh-item-play-btn
		float: left
		cursor: pointer
		background-image:url("/assets/img/mic-hub/play_btn_purple.png")
		background-repeat: no-repeat;
		background-size: contain
		width: 46px
		height: 46px

	.bh-item-remind-btn
		float: left
		cursor: pointer
		background-image:url("/assets/img/mic-hub/btn_remind_me_normal.png")
		background-repeat: no-repeat;
		background-size: contain
		width: 46px
		height: 46px

		&.btn-is-selected
			background-image:url("/assets/img/mic-hub/btn_remind_me_disabled.png")

	.slick-track
		@media mintablet
			margin-left 317px

.brand-utopia
	background: #9e8741

	button.slick-prev,
	button.slick-next
		background: #9e8741

	.bh-item-play-btn
		float: left
		background-image:url("/assets/img/utopia-hub/play_btn_yellow.png")
		background-repeat: no-repeat;
		background-size: contain
		width: 46px
		height: 46px

	.slick-track
		@media mintablet
			margin-left 317px


.series-bar
	padding-left: 20px
	height: 70px
	line-height: 70px

.e4
	background: $ch-e4

	&.btn
		background: #551a6b


.btn-pill
	background: #454e55
	border-radius: 20px
	height: 29px
	min-width: 70px
	font-family: $c4-regular
	font-size: 12px
	color: white

.brand-hub-page
	background #f0f0f0
	+when(iphone)
		margin-top -55px

	.profiles-gallery
		padding-bottom 35px
		padding-top 50px

	.slide-slide
		opacity 1;
		background red;

.brandhub-carousel

	.slick-active:nth-child(0n+1)
		opacity 1

	&.slick-center
		opacity 1

	