.catchup-page
	background-color #f0f0f0

	.calendar-button
		opacity 1
		position absolute
		width 96px
		height 29px
		background-repeat no-repeat
		background-size contain
		background-image:url("/assets/img/catchup/btn_calendar_normal.png")
		left 450px
		top 45px

		+when(iphone)
			left 210px
			top 20px

		&.active
			background-image:url("/assets/img/catchup/btn_calendar_selected.png")

	.calendar-nav-container
		position relative
		background-color #566161

	.calendar-nav
		&.collapsed
			display none

		&.expanded
			display inline-block

	.calendar-nav-dropdown
		display none

		&.expanded
			display inline

	.catchup-content
		padding-bottom 100px
