.section-title
	color: white
	background: #56616a
	display: inline-block
	padding: 10px 15px 10px 20px
	margin-bottom: 0

.categories-nav
	background: #56616a
	padding-top: 15px
	padding-bottom: 15px
	padding-left: 25px
	padding-right: 15px

	+when(iphone)
		overflow: hidden
		width: 100%


	.btn-pill
		background: #454e55
		border-radius: 20px
		height: 29px
		min-width: 70px
		font-family: $c4-regular
		font-size: 12px
		color: white

		&:hover,
		&.active
			background: white
			color: #454e55

	.pull-left
		
		+when(iphone)
			width: 300%

	.pull-right
		+when(iphone)
			display: none

	// .az-link
	// 	position absolute
	// 	left 38px
	// 	top 100px

	// 	&.active
	// 		color white
	// 		background-color red

	// 	@media mintablet
	// 		left 44px
	// 		top 105px

	// .comedy-link
	// 	position absolute
	// 	left 114px
	// 	top 100px

	// 	&.active
	// 		color white
	// 		background-color red

	// 	@media mintablet
	// 		left 120px
	// 		top 105px

