.global-ads-container
	display: none

	+when(desktop)
		display: block


.container.grid-results
	background: #F0F0F0
	padding-top: 50px
	position: relative
	padding-bottom: 400px

	.grid-item
		background: white
		padding: 15px
		margin-bottom: 30px
		height: 90px
		position: relative

		a
			display: block
			font-family: $c4-regular

		span
			color: #969696
			font-family: $c4-regular
			position: absolute
			bottom: 10px

.section-flag
	background: #59616b
	color: white
	font-weight: bold
	line-height: 50px
	padding-left: 25px
	margin-bottom: 20px
	width: 50px
	text-transform: uppercase

.az-nav
	background: #454e55

	+when(iphone)
		width: 100%
		overflow: hidden

	ul
		padding: 10px 30px

		+when(ipad)
			padding: 10px 10px

		+when(iphone)
			width: 350%
			padding: 10px 30px

	li
		padding-right: 0
		padding-left:1px

		+when(ipad)
			padding-left: 2px


	a
		text-transform: uppercase
		font-family: $c4-regular
		border-radius: 50%
		color: white
		background: #373e44
		float: left
		text-align: center
		line-height: 30px
		width: 30px
		height: 30px

		&:hover,
		&.active
			background: white
			color: #565656

.desktop_ad
	position: absolute;
	z-index: 100;
	width: 499px;
	background: #F0F0F0;
	padding-left: 230px;
	top: 90px;
	right: 15px;
	display: none

	+when(desktop)
		display: block

.categories-nav ul
	padding: 30px


