.discover-dropdown
	display none
	position relative

	&.is-open
		display block
		z-index: 5000

	&__image-link
		position absolute
		background-repeat no-repeat
		background-size contain

	.az-link
		@extend .discover-dropdown__image-link
		background-image:url("/assets/img/discover/btn_a_z_normal.png")
		left 30px
		bottom 225px
		width 130px
		height 29px

		&.active,
		&:hover
			background-image:url("/assets/img/discover/btn_a_z_selected.png")
			opacity: 1

		@media iphone
			left 20px
			bottom 610px
			
		@media ipad
			left 30px
			bottom 225px

	.comedy-link
		@extend .discover-dropdown__image-link
		background-image:url("/assets/img/discover/btn_comedy_normal.png")
		bottom 225px
		left 175px
		width 130px
		height 29px

		&.active,
		&:hover
			background-image:url("/assets/img/discover/btn_comedy_selected.png")
			opacity: 1

		@media iphone
			left 170px
			bottom 610px

		@media ipad
			bottom 225px
			left 175px

	.shorts-link
		@extend .discover-dropdown__image-link
		background-image:url("/assets/img/discover/btn_shorts_normal.png")
		left 425px
		bottom 38px
		width 58px
		height 58px

		&.active, &:hover
			background-image:url("/assets/img/discover/btn_shorts_selected.png")

		@media iphone
			left 170px
			bottom 330px
			width 56px
			height 56px

		@media ipad
			left 427px
			bottom 38px
			width 58px
			height 58px

	.catchup-link
		@extend .discover-dropdown__image-link
		background-image:url("/assets/img/discover/btn_31_normal.png")
		bottom 40px
		right 155px
		width 48px
		height 29px

		@media iphone
			background-image:url("/assets/img/discover/btn_31_july_normal.png")
			left 185px
			bottom 30px
			width 30px
			height 30px

		@media ipad
			bottom 40px
			right 155px
			width 50px
			height 30px

	.e4-link
		@extend .discover-dropdown__image-link
		background-image:url("/assets/img/discover/btn_e4_normal.png")
		bottom 39px
		right 914px
		width 56px
		height 56px

		&.active,
		&:hover
			background-image:url("/assets/img/discover/btn_e4_selected.png")
			opacity: 1

		@media iphone
			left 21px
			bottom 403px

	.entertainment
		@extend .discover-dropdown__image-link
		background-image:url("/assets/img/discover/btn_entertainment_normal.png")
		bottom 184px
		right 840px
		width 130px
		height 29px

		&.active,
		&:hover
			background-image:url("/assets/img/discover/btn_entertainment_selected.png")
			opacity: 1

		@media iphone
			left 169px
			bottom 570px
