.epg-page
	position relative
	padding-bottom 20px
	background-color #f0f0f0

	@media iphone
		padding-bottom 0

	.date-time-picker
		position: relative
		overflow-x: hidden

	.middle-content
		margin: 0 0 20px 0

		@media iphone
			margin-bottom 0

	.epg-playbar
		width: 1000px

	.epg-playbar-container

		@media iphone
			display none

		@media desktop
			position fixed
			bottom 0px

	.catchup-bg
		background: #fff

	.catchup-link
		position absolute
		background-image:url("/assets/img/epg/btn_catch_up_normal.png")
		background-repeat: no-repeat
		background-size: contain
		height: 29px
		width: 96px

		&.active, &:hover
			background-image:url("/assets/img/epg/btn_catch_up_selected.png")
			background-repeat: no-repeat
			background-size: contain

		@media iphone
			top 40px
			left 10px

		@media mintablet
			top 45px
			left 35px

	.today-link
		position: absolute
		background-image: url("/assets/img/epg/btn_today_normal.png")
		background-repeat: no-repeat
		height: 29px
		width: 60px
		background-size: contain

		@media iphone
			top: 40px
			left: 270px

		@media mintablet
			top 45px
			left 295px

		&.active, &:hover
			background-image:url("/assets/img/epg/btn_today_selected.png")
			background-repeat: no-repeat
			background-size: contain


	.catchup-calendar-overlay
		position absolute
		top 80px
		left 0
		display none

		&.expanded
			display inline

		@media iphone
			width 320px
			height 287px

		@media mintablet
			width 482px
			height 282px

	.btn-31-july
		background-repeat: no-repeat
		background-size: contain
		position absolute

		@media iphone
			background-image: url("/assets/img/epg/btn_31_circle_selected.png")
			width 32px
			height 32px
			top 197px
			left 144px

		@media mintablet
			background-image: url("/assets/img/epg/btn_31_oval_selected.png")
			width 48px
			height 29px
			top 220px
			left 218px

	.e4-hidden-link
		top 284px
		left 0
		width 105px
		height 124px
		background transparent

		@media iphone
			width 54px
			height 60px
			top 88px
			left 66px

	.e4-hidden-link-caption
		top: 284px;
		left: 551px;
		width: 223px;
		height: 124px;

			@media iphone
				display none