.hidden-link
	position absolute
	width: 300px;
	height: 258px;

.homepage-states
	
	// a
	// 	background-color rgba(255, 0, 0, 0.5)

	.mic-link
		@extend .hidden-link
		left 30px
		top 80px


		@media iphone
			left 20px
			bottom 610px

		@media ipad
			left 30px
			bottom 225px


	.utopia-link-img
		@extend .hidden-link
		left 350px
		top 80px
		height 169px

		@media iphone
			left 10px
			top 353px

	.utopia-link-caption
		@extend .hidden-link
		left 350px
		top 248px
		height 90px

		@media iphone
			top 522px
			left 10px
			height 110px

	.utopia-link-caption-now-on
		@extend .hidden-link
		left 30px
		top 547px
		height 111px

		@media iphone
			left 10px
			top 1117px

	.utopia-link-caption-now-on
		@extend .hidden-link
		left 30px
		top 547px
		height 111px

		@media iphone
			left 10px
			top 1117px

	.utopia-link-img-now-on
		@extend .hidden-link
		top: 377px
		left: 30px
		height: 170px

		@media iphone
			top: 947px
			left: 10px


	.on-demand .mic-player-img
		@extend .hidden-link
		left 350px
		top 358px
		height 169px

		@media iphone
			left 10px
			top 1696px
			height 169px
			display none

	.on-demand .mic-player-caption
		@extend .hidden-link
		left 350px
		top 527px
		height 89px

		@media iphone
			left 10px
			top 1865px
			height 108px
			display none

	.now-on .mic-player-img
		@extend .hidden-link
		left 670px
		top 1986px
		height 169px

		@media iphone
			left 10px;
			top 3887px;
			height 223px;


	.now-on .mic-player-caption
		@extend .hidden-link
		left 670px
		top 2155px
		height 109px

		@media iphone
			left 10px
			top 4105px
			height 116px

	.coming-up .mic-player-img
		@extend .hidden-link
		left 30px
		top 1323px
		height 169px

		@media iphone
			left 10px;
			top 1696px
			height 170px

	.coming-up .mic-player-caption
		@extend .hidden-link
		left 30px
		top 1492px
		height 109px

		@media iphone
			left 10px;
			top 1866px
			height 109px

	.e4-link
		@extend .hidden-link
		width 179px;
		height 40px;
		top 956px;
		left 221px;

		@media iphone
			left 10px;
			top 1562px;
			width 300px;

	.simulcast-link
		@extend .hidden-link
		width 179px;
		height 100px;
		top 856px;
		left 221px;

		@media iphone
			left 10px;
			top 1395px;
			width 300px;
			height 169px;

	.catch-up-link
		@extend .hidden-link
		width 191px;
		height 47px;
		top 695px;
		left 0;

		@media iphone
			top 1276px;
			width 153px;

	.short-link
		@extend .hidden-link
		height 278px;
		top 81px;
		left 350px;

		@media iphone
			top 354px;
			left 10px;

	.short-link-finger-on-now
		@extend .hidden-link
		height 50px;
		top 1214px;
		left 0px;
		width 314px

		@media iphone
			top 1812px;
			left 0px;
			width 237px;
			height 50px;

	.short-link-finger-on-demand
		@extend .hidden-link
		height 50px;
		top 3161px;
		left 0px;
		width 164px;

		@media iphone
			top 3142px;
			left 0px;
			width 134px;
			height 46px;

	.entertainment-link
		@extend .hidden-link
		width 140px;
		height 120px;
		top 3635px;
		left 350px;

		@media iphone
			top 3683px;
			left 15px;