.homepage-states.slick-slider
	margin:0
	background-color #f0f0f0
	// height: 2000px
	padding: 0 0 97px 0

	+when(ipad)
		margin-top -22px
		padding: 0 0 88px 0

	+when(iphone)
		margin-top -22px

.state-nav
	background: #4b535b
	height: 97px
	width:1000px
	z-index: 2000
	position: absolute
	top: 10px


	.list-inline
		margin-left: 0

	.hp-state
		color: white
		font-family: $c4-medium
		font-size: 26px
		line-height:108px
		text-align: center
		// transition: all ease-in 0.6s

		&:hover
			cursor: pointer

	&.small
		.hp-state
			font-size: 20px
			line-height: 70px


/*
*
* 3D-IFY the muthertrucking buttons!
*
*/

.hp-state.active
	
	span
		background: url('../img/home/on-demand-state-3D.png') no-repeat;
		position: absolute
		width: 100%
		left: 0px
		top: -10px

.on-four.active
	span
		background: url('../img/home/on-now-state-3D.png') no-repeat;

.on-soon.active
	span
		background: url('../img/home/on-soon-state-3D.png') no-repeat;


.state-nav.small
	
	.on-demand.active
		span
			background: url('../img/home/on-demand-state-small-3D.png') no-repeat;
			background-size: 100% 100%
			height:60px
			line-height: 64px
			top:0
	
	.on-four.active
		span
			background: url('../img/home/on-now-state-small-3D.png') no-repeat;
			background-size: 100% 100%
			line-height: 64px
			height:60px
			top:0

	.on-soon.active
		span
			background: url('../img/home/on-soon-state-small-3D.png') no-repeat;
			background-size: 100% 100%
			line-height: 64px
			height:60px
			top:0	





