.login-container
	min-height 100%
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 3000;
	text-align center

	.login-background
		background-color rgba(236,236,236,.8) 
		width 100%
		height 100%

	.login-form
		width 460px
		height 630px
		position absolute
		top 50%
		left 50%
		margin-left -230px
		margin-top -315px
		padding 88px 20px
		background-color white
		background-image:url("/assets/img/login/sign_in_form_desktop.png")

		+when(iphone)
			background-image:url("/assets/img/login/sign_in_form_mobile.png")
			width 300px
			height 448px
			margin-left -150px
			margin-top -224px
			padding 88px 15px

		.cancel-btn
			position absolute
			top -46px
			right 0
			background-image:url("/assets/img/login/close_button.png")
			width 46px
			height 46px

			&:hover, &:active
				opacity .9

		.signin-button
			display inline-block
			width: 420px;
			height: 38px;
			margin-top 100px
			background-image:url("/assets/img/login/sign-in-btn.png")

			+when(iphone)
				background-image:url("/assets/img/login/sign-in-btn-mobile.png")
				width 270px
				height 38px

			&:hover, &:active
				opacity .8

		.register-button
			display inline-block
			width: 420px;
			height: 38px;
			margin-top 200px
			background-image:url("/assets/img/login/btn_register_normal.png")

			&:hover, &:active
				opacity .8

			+when(iphone)
				display none

		.text-input-field
			width: 100%;
			height: 54px;
			border: solid 1px #f0f0f0
			font-size: 15px;
			padding: 22px 20px 20px
			color: #000;
			font-family: C4_head_reg;
			border-radius(0)

			+when(iphone)
				height 50px

		::-webkit-input-placeholder
			color: #ccc;

		:-moz-placeholder
			color: #ccc; 

		::-moz-placeholder
			color: #ccc; 

		:-ms-input-placeholder
			color: #ccc;
