.myfour-page
	background-color: #f0f0f0

	.myfour-nav
		position relative

		.btn-notification
			background-image:url("/assets/img/my4/btn_notifications_disabled.png")
			position absolute
			width 46px
			height 46px
			left 110px
			top 25px

			&:hover,
			&.active
				background-image:url("/assets/img/my4/btn_notifications_hover.png")

			&.has-notification
				background-image:url("/assets/img/my4/btn_notifications_normal.png")

			&.is-notification-open
				background-image:url("/assets/img/my4/btn_notifications_hover.png")

		.btn-settings
			background-image:url("/assets/img/my4/btn_settings_normal.png")
			position absolute
			width 46px
			height 46px
			top 25px
			right 25px

			&:hover,
			&.active
				background-image:url("/assets/img/my4/btn_settings_selected.png")

	.myfour-content
		position relative

	.notification-dropdown
		position absolute
		top 0

		.responsive-image
			width: auto