.player-landscape
	background-color black
	position absolute
	width:100%
	height:100%
	top: 0
	z-index: 2100

	.close-btn-link
		position absolute
		bottom 0
		right 0

		img
			width 50px
			height 50px