.player.page-wrapper
	@media iphone
		padding-top 10px

.player
	background:#fff;

	.player-header
		position relative

	.close-btn-link
		position absolute
		right 0px

		@media iphone
			bottom 68px

	.close-btn-image
		width 50px
		height 50px

	.img-player
		width 90%
		cursor: pointer;

	.img-player-container
		padding 50px 0
		background-color #272727
		text-align center

		@media mintablet
			height 600px

		@media iphone
			height 260px