.search-box
	background-color #57616a //TODO:create color var
	padding 30px

	&:after
		background: url('../img/discover/search-icon.jpg')
		background-size: 100%
		content: " "
		height: 90px
		width: 90px
		position: absolute
		right: 30px
		top: 30px

		@media ipad
			height: 60px
			width: 60px
			top: 20px
			right: 20px

		@media iphone
			height: 55px
			width: 55px
			right: 15px
			top: 15px

	@media iphone
		padding 15px

	@media ipad
		padding 20px

	.search-input
		width 100%
		height 90px
		font-size 30px
		padding 20px
		color white
		background-color #5F6972
		border none
		font-family: C4_head_reg

		@media iphone
			height 55px
			font-size 15px

		@media ipad
			height 60px
			font-size 17px

	.search-input:focus,
	.search-input:focus{
    	outline: 0;
	}

	.search-results
		width 100%

		.is-open &
			display block

		.is-closed &
			display none

::-webkit-input-placeholder {
   color: #878e94;
   font-family: C4_head_reg;
}

:-moz-placeholder { /* Firefox 18- */
   color: #878e94;
   font-family: C4_head_reg;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #878e94;
   font-family: C4_head_reg;  
}

:-ms-input-placeholder {  
   color: #878e94;
   font-family: C4_head_reg;  
}