body
  background: $haze-v3
  overflow-x: hidden

  &.scroll-disabled
    overflow-y hidden

.container.content-wrapper
  background: $concrete
  padding: 10px 0

  +when(mintablet)
    padding: 90px 0

  @media iphone
    padding: 40px

.page-wrapper
  padding-top: 50px
  background-color: $lightgrey
  margin-top -55px

.container
  max-width 1000px

.clearfix
  display inline-block

.clearfix:after
  visibility hidden
  display block
  font-size 0
  content " "
  clear both
  height 0


.section-wrapper
  +when( iphone )
    margin-top -55px
  
  +when( ipad )
    margin-top -55px