when(type)
	@media type
		{block}

c4-regular()
	font-family: $c4-regular
	font-weight: normal

c4-medium()
	font-family: $c4-medium
	font-weight: 500
	font-style: normal

c4-heavy()
	font-family: $c4-heavy
	font-weight: 800
	font-style: normal

body-font()
	color: $grey
	font-family: $body-font
	font-weight: normal
	font-size: 14px

-rems(property, sizes)
	rems = new array()
	pixs = new array()

	for prop, i in sizes
		pixs[i] = prop*basefont
		rems[i] = prop*1rem

	{property}: pixs
	{property}: rems

theme(prop, value = 0%)
	.on-now &
		{prop}: $onnow

	.on-demand &
		{prop}: darken($ondemand, value)

	.coming-up &
		{prop}: $comingup

arrow-down(value)
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid value;
	font-size: 0;
	line-height: 0;
	content ' '
	display block
	position absolute
	bottom -10px
	left 50%
	margin-left -10px

border-radius(value)
	-webkit-border-radius: value;
	-moz-border-radius: value;
	border-radius: value;
