//
// Typography
// --------------------------------------------------





// Body text
// -------------------------

p
  body-font()
  margin: 0
  padding:0


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6
  c4-medium()

.section-heading
	font-size: 20px
	line-height: 40px
	margin: 0 10px

	+when(iphone)
		clear: both
		margin: 0

