$ondemand = #56616A
$ondemand-active = #454E55

$onnow = #cb3d30
$comingup = #7fb6a5

$ch-c4 = #0b325e
$ch-e4 = #6b2283
$ch-more4 = #34393c
$ch-film4 = #9a0716
$ch-4seven = #443c3a

$haze-v3 = #dedede
$lightgrey = #f0f0f0

//Fonts
@font-face { font-family: C4_head_reg; src: url('../fonts/C4HeaReg.otf'); }
@font-face { font-family: C4_head_med_reg; src: url('../fonts/C4TexMedReg.otf'); }


$c4-regular = "Channel 4 Regular", C4_head_reg, Arial, sans-serif
$c4-medium = "Channel 4 Medium", C4_head_med_reg, Arial, sans-serif
$c4-heavy = "Channel 4 Heavy", C4_head_med_reg, Arial, sans-serif

$body-font = "Trebuchet MS", Arial, sans-serif

//Device variables

iphone = 'screen and (min-width : 200px) and (max-width : 767px)'
ipad = 'screen and (min-width : 768px) and (max-width : 1224px)'
desktop = 'screen and (min-width : 1225px)'

mintablet = 'screen and (min-width : 768px)'
