.card
	background #fff
	position relative

	&__heading
		height 49px

		.ch-c4 &
			background-color $ch-c4

		.ch-e4 &
			background-color $ch-e4

		.ch-more4 &
			background-color $ch-more4

		.ch-film4 &
			background-color $ch-film4

		.ch-4seven &
			background-color $ch-4seven

	@media mintablet
		//margin-left:5px
		//margin-right:5px

	&__heading-icon
		display:inline-block
		vertical-align: middle
		width 30px
		height 30px
		margin-left 10px
		margin-top 9px

	&__heading-icon-right
		@extend .icon-right-arrow
		float right
		background-color rgba(0, 0, 0, 0.2)
		background-size 20%
		width 49px
		height 49px

	&__title
		color $onnow
		margin:0
		margin-bottom:5px
		font-family: $body-font
		font-size: 14px

	&__date
	&__time
		font-family $body-font
		font-size 12px
		color $grey-verylight

	&__time-left
		padding: 5px 10px 3px 10px
		color: white
		background: -webkit-linear-gradient(left, #565656 0%, #3e4245 10%);
		font-family: $c4-regular
		font-size: 12px
		display: inline-block
		line-height: 20px

	&__icon-info
		position absolute
		bottom 0
		right 10px

	&__cover
		position: relative

	&__cover-image
		max-width:100%

	&__cta-container
		position:absolute
		bottom:5px

	&__cta-list__item
		display:inline-block

	&__time-container
		border-bottom 1px solid #f1f1f1
		padding 5px 10px

	&__title-container
		padding 10px

	&__icon-channel
		display:inline-block
		vertical-align: middle

	&__social
		background: $onnow
		color:white
		font-family $body-font
		font-size: 11px
		padding:7px 10px
