/*
	elements:
		__cover-image
		__title
		__subtitle
*/

.card-tall

	&__cover-image
		max-width 100%

	&__title
		background-color white
		color $ondemand
		font-size 16px
		padding 3px 10px

	&__subtitle
		background-color $ondemand
		color white
		font-size 12px
		padding 3px 10px


