/*
	elements:
		__cover-image
		__title
*/


.card-cat
	position relative

	&__cover-image
		max-width: 100%

	&__title
		position absolute
		bottom 10px
		background-color $ondemand
		color white
		font-family $c4-regular
		font-size 12px
		padding 5px 7px 3px 7px

		@media mintablet
			font-size 15px
			padding 7px 10px
