//todo: the same as card-short
.card-catch
	background white
	margin 0 5px 0 5px

	&__cover
		position relative

	&__cta-container
		position absolute
		bottom 10px

	&__cover-image
		max-width 100%

	&__details
		padding 10px
		height 70px
		position relative

	&__title
		margin 0
		padding 0
		font-size 14px
		font-family $body-font
		font-weight bold
		line-height 1.3
		color $ondemand

	&__subtitle
		margin 0
		padding 0
		font-size 12px
		font-family $body-font
		position absolute
		bottom 10px
