.carousel-collapsable
	overflow:hidden
	//padding-left:20px
	margin-bottom: 50px

	.mini-slick
		padding-left:10px
		padding-right:10px

		@media iphone
			min-width: 670px

		.item
			padding-left:5px
			padding-right:5px
			//width:300px

			@media iphone
				width: 220px
			img
				max-width: 100%
		&.four-cols
			@media iphone
				width: 890px



