.cluster
	margin-bottom 50px

	&--mobile
		@extend .cluster

		@media iphone
			display block

		@media mintablet
			display none

	&--tablet
		@extend .cluster

		@media iphone
			display none

		@media mintablet
			display block


	&__heading
		margin 0 0 20px 0

		&--tab
			margin 0




