.cta-button
	padding: 0
	margin: 0
	display:inline-block
	min-width: 28px
	min-height: 28px
	box-sizing: border-box
	border none
	background: url("/assets/images/icons/play_icon_20x26.png") no-repeat center;
	//background-size: 10px 13px;
	background-size 40%
	theme(background-color)
	outline 0

	&:active
		theme(background-color, 20%)
