.discover-dropdown
	display: none

	&.open
		display:block
		background: url("/assets/images/v3/discover/Search-expanded-mobile.jpg") no-repeat center;
		height:795px

		+when(mintablet)
			background: url("/assets/images/v3/discover/Search-expanded-desktop.jpg") no-repeat center;
			height:478px
