.dropdown .caret
	@media mintablet
		margin-top:-15px

.dropdown-toggle
	@media mintablet
		line-height: 16px !important;
		font-size: 13px;
		padding-top: 20px !important;
		padding-bottom: 16px !important;

.dropdown-menu
	min-width 280px
	border none
	border-radius 0
	padding 0

	@media iphone
		min-width 320px
		background-color: white !important;

	& li > a, li > span
		padding 3px 14px

	&__item
		background-color #f0f0f0
		border-bottom: 1px solid #fff;
		border-top: 1px solid #f0f0f0;

	&__link
		color: #3092b8 !important;
		line-height: 44px !important

	&__icon
		float right
		background-repeat: no-repeat;
		background-size: 100%;
		margin-top: 15px

	&__footer
		font-size 13px
		padding: 8px 0 6px;
		border-bottom 1px solid #f0f0f0

.navbar-nav .open .dropdown-menu
	position: absolute;
