// Grid
.grid-featured
	margin-bottom:60px

	.coming-up &
		margin-bottom:20px

	@media ipad,desktop
		margin-bottom:30px

.grid-featured-inner
	margin:10px

	@media ipad,desktop
		margin:15px

// Vid
.vid
	position:relative
	color:white
	margin-bottom:10px

	@media iphone
		padding:5px

	@media ipad,desktop
		padding:0px
		padding-left:10px

	.box
		position:relative

	.box-info
		position:absolute
		bottom:0px
		width: 100%
		padding-bottom:10px

	.text-title
	.text-subtitle
		margin:0
		padding:6px 6px
		background:rgba(51, 51, 51, 0.8)

	.text-title
		display:inline-block

		@media iphone
			font-size:12px

		@media ipad, desktop
			font-size:18px

	.text-subtitle
		display:block

		@media iphone
			font-size:10px

		@media ipad,desktop
			font-size:16px

	.text-social
		font-family: "Trebuchet MS", Helvetica, sans-serif
		font-size: 12px
		display:none
		width:100%
		padding:5px 10px

	img.thumb
		width:100%

	.box-text
		width:56%

	.btn-remind
		background:url('/assets/images/icons/clock_icon_large.png') no-repeat center 10px

	.btn-trailer
		background:url('/assets/images/icons/play_icon_large.png') no-repeat center 10px

	.my-btn
		border-radius:0
		padding:0
		color:white
		font-size:0
		text-transform: uppercase

		@media iphone
			font-family: "Trebuchet MS", Helvetica, sans-serif
			width:28px
			height:28px
			background-size:12px 12px
			background-position-y:7px

		@media ipad, desktop
			font-family: "Channel 4 Regular", C4_head_reg, Arial, sans-serif
			width:34px
			height:34px
			background-size:15px 15px
			background-position-y:9px

	&.with-social

		.box-info
			padding-bottom:0px

		.text-social

			@media iphone
				display:block
				font-size: 10px
				margin-top:10px
				position:absolute
				bottom:-38px
				height:38px

			@media ipad, desktop
				display:inline-block


	&.main-featured
		margin-bottom:0px

		@media ipad,desktop
			padding-left:0px

		.my-btn

			@media iphone
				width:46px
				height:46px
				background-size:20px 20px
				background-position-y:12px

			@media ipad, desktop
				width:64px
				height:64px
				background-size:28px 28px
				background-position-y:8px
				font-size:12px
				padding-top:42px

// Pages
.on-now-page
	.my-btn
	.text-social
		background-color:rgba($onnow, 0.9)

.coming-up-page
	.my-btn
	.text-social
		background-color:rgba($comingup, 0.9)

.on-demand-page
	.my-btn
	.text-social
		background-color:rgba($ondemand, 0.9)


// Hack
.right-padding
	padding:0px
	padding-right:10px

	@media iphone
		padding:5px
