.hbox
	overflow-x: visible
	white-space: nowrap
	//margin-left: -20px
	//padding-left: 5px
	-webkit-overflow-scrolling: touch

	+when(iphone)
		overflow-x:auto

	.is-slategrey &
		background-color $slategrey

.hbox--solid
	background: url('/assets/images/list/bcg_pattern.png') repeat-x 0 181px $grey

.hbox [class*="item"]
	white-space: normal
	//display: inline-block
	float:left

.hbox::-webkit-scrollbar
	display: none

.hbox-inner
	height:180px

	.is-slategrey &
		height auto

	@media iphone,tablet
		padding-left:10px
		padding-right:10px

.hbox__item
	width:170px
	padding-right:5px
	padding-left:5px

	@media mintablet
		padding:0
