$miniNavHeight = 60px
	
.home-page
	
	+when(ipad)
		margin-top -55px
	+when(iphone)
		margin-top -55px
	
	.row
		position relative




.home-nav-wrap
	background-color white
	height 107px

	.home-nav
		clearfix();
		+when(iphone)
			height 75px
	
	.list-inline
		+when(iphone)
			width 320px

	.state-nav
		+when(iphone)
			width 320px
		.hp-state
			+when(iphone)
				color: #fff;
				font-family: "Channel 4 Medium",C4_head_med_reg,Arial,sans-serif;
				font-size: 17px;
				line-height: 20px;
				text-align: center;
				width: 33.3%;
				padding: 27px 0;
				float: left;

		.hp-state.active
			span
				+when(iphone)
					top 0
					background-image url("../img/home/on-demand-state-3D.png") 
					background-repeat no-repeat
					background-position 0 0
					background-size 100% 100%
					position: absolute;
					width: 100%;
					top 0
					left: 0;
					line-height 74px

.mini-nav
	position absolute
	top 0
	left 0
	z-index 1
	height $miniNavHeight
	transition top 0.6s ease-in
	transform translate3d(0, 0, 0)

	&.miniNav-is-hidden
		display none

	+when(ipad)
		left 12px
	
	&.show-nav
		top 68px

	.home-nav-wrap

		.state-nav
			z-index 1
			height $miniNavHeight
			top 0
			left 0
			.hp-state
				line-height $miniNavHeight
				font-size 18px
				+when(iphone)
					padding 0
				a
					display block
					color white

			.hp-state.active
				a
					display block
					color white
				span
					// background-image url("../img/home/on-now-state-small-3D.png") 
					background-image none
					background-color #6e7883
					background-repeat no-repeat
					background-position 0 0
					background-size 100% 100%
					top 0
					+when(iphone)
						line-height 60px