.homepage-nav
	background: white
	position fixed
	top 55px
	z-index 20
	width 100%

	a
		display: block
		font-family: $c4-medium
		font-size: 15px
		padding: 10px 0
		text-align: center

		+when(ipad)
			font-size: 24px

		+when(desktop)
			font-size: 24px


		&:hover
			text-decoration: none

	.row
		margin:0

	.on-demand-link
		color: $ondemand

		&.active
			color white
			background-color: $ondemand
			&::after
				arrow-down(@background-color)

	.on-now-link
		color: $onnow

		&.active
			color white
			background-color $onnow
			&::after
				arrow-down(@background-color)

	.coming-up-link
		color: $comingup

		&.active
			color white
			background-color $comingup
			&::after
				arrow-down(@background-color)

	.nav-item
		padding: 0

		&.active
			a
				color: white

			&::after
				top: 100%
				left: 50%
				border: solid transparent
				content: " "
				height: 0
				width: 0
				position: absolute
				pointer-events: none
				border-width: 15px 15px
				margin-left: -15px
		


.homepage-nav-item
	padding-left:0px
	padding-right:0px
