.mini-tile
	position: relative
	.tile-info
		background-color: white
		padding: 15px 10px 10px
		position: relative

		&.info-only
			padding-bottom: 30px

			.broadcast-meta
				padding-bottom: 10px

				@media iphone
					font-size: 12px

		.tile-title
			border-bottom: 2px solid $concrete
			font-size: 20px
			margin: 0
			padding-bottom: 12px
			padding-right: 10px
			margin-bottom: 15px

			@media iphone
				font-size: 16px

			&.no-border
				border-bottom: none
				margin-bottom: 0

	.icon-channel
		display: inline-block
		margin-right: 10px
		vertical-align: middle

	.broadcast-info
		display: inline-block
		vertical-align: middle

	.icon-info
		position: absolute
		right: 10px
		bottom: 15px

		@media iphone
			bottom: 5px

	.suplimental
		color: $grey
		font-weight: bold

		@media iphone
			font-size: 11px

	.broadcast-time
		@media iphone
			font-size: 11px


	.more-tips-link
		font-weight: bold

	.notice-flag
		color: white
		font-family: $c4-medium
		font-size: 16px
		padding: 5px 10px
		position: absolute
		top: 0
		left: 0px

		@media iphone
			font-size: 10px

	.social-flag
		color: white
		font-family: $body-font
		font-size: 14px
		padding: 5px 10px
		position: absolute
		left: 0
		top: -30px
		width: 100%

		@media iphone
			font-size: 10px
			top: -20px

		@media ipad
			font-size: 12px
			top: -25px

	.tile-action
		position: absolute
		top: -35px
		left: 0

		@media mintablet
			top: -65px

		&.tile-with-social
			top: -45px

			@media mintablet
				top: -70px
		
		&.time-tile
			top: -40px	


.on-now
	.tile-title,
	.more-tips-link
		color: $onnow

	.notice-flag,
	.social-flag
		background: $onnow

.on-demand
	.tile-title,
	.more-tips-link
		color: $ondemand

	.notice-flag,
	.social-flag
		background: $ondemand


.coming-up
	.tile-title,
	.more-tips-link
		color: $comingup

	.notice-flag,
	.social-flag
		background: $comingup



