.navbar
	min-height:55px
	font-family: "Channel 4 Regular", C4_head_reg, Arial, sans-serif
	font-size:15px
	margin-bottom 0px
	z-index 2100

.navbar-default
	border: none
	background: transparent
	position relative


	+when(ipad)
		position fixed
		top 0
		left 0

	+when(iphone)
		position fixed
		top 0
		left 0

.navbar .container
	background-color white
	min-height 68px
	//-moz-box-shadow: 0 1px 1px 0 #333
	//-webkit-box-shadow: 0 1px 1px 0 #333
	//box-shadow: 0 1px 1px 0 #333

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus
	background-color: #555;

.navbar-default .navbar-nav>li>a
	color: #565656
.navbar-default .navbar-nav>li>a:hover
	background-color #f0f0f0
.navbar-default .navbar-nav>li.active>a:hover
	color: #ffffff
	background-color #414b51

.navbar-default .navbar-nav>.active>a
	color:#ffffff
	background-color: #414b51
	//background-image: linear-gradient(to bottom,#414b51 0,#414b51 100%)

.navbar-header
	width:100%
	position relative
	z-index 2

.container>.navbar-header

	@media iphone
		margin-left:0px
		margin-right:0px

.navbar-toggle
	border-radius:0px
	border:none
	margin:0
	padding:19px 20px

	img
		width:16px

.navbar-brand
	padding: 0px 15px
	float none

	//img
		//width:45px
		//margin-top:12px

.navbar-brand-outer
	text-align: center

.navbar-search
	margin-left:0px
	width:25%
	position:relative

	input
		min-height:55px
		padding:10px
		background-color:#525659
		border:none
		color:white
		width:100%

.navbar-search:before
	content:''
	display:block
	width: 16px
	height: 16px
	background-image: url('/assets/images/nav/search_icon.png')
	background-size: cover
	position: absolute
	top:20px
	right:15px
	z-index: 1000

	@media iphone
		background-image:none



.navbar-home
	min-height:80px
	background-color:#fff
	border-bottom: 4px solid #ff9900

	ul
		width:100%

	a
		min-height:80px
		line-height:80px
		text-align:center

	li
		padding:0px

	li.active
		background:#ff9900

.navbar-collapse
	border: none;

.nav>li
	@media iphone
		float:left

.nav>li .text
	@media iphone
		display:none

.nav>li>a>img
	display:inline
	width:16px
	margin: -3px 5px 0px 10px

	@media iphone
		margin: 0px 5px

.navbar-nav
	margin:0px

	li>a
		line-height:25px
		text-shadow:none

		@media iphone
			line-height:35px

.navbar-nav > li > a
	padding-top 23px
	padding-bottom 20px

	@media iphone
		padding-top: 20px;
		padding-bottom: 13px

.navbar-search

	@media iphone
		width:100%

	input

		@media iphone
			width:100%