.noti
	height 45px
	z-index 999
	position absolute
	background-color $ondemand
	display table
	opacity 0
	color white

	&__channel-icon
		font-size 20px
		font-family $c4-heavy
		display table-cell
		vertical-align middle
		padding 5px 7px 0 7px
		background-color rgba(0, 0, 0, 0.2)

	&__msg
		display table-cell
		padding 0 10px
		padding-top 3px
		vertical-align middle
		font-family $c4-regular
		min-width 50px

	&__icon
		@extend .icon-right-arrow
		background-color rgba(0, 0, 0, 0.2)
		width 45px
		height 45px

.noti-play
	-webkit-animation: foo 3s

@keyframes foo
	0%
		opacity 0

	33%
		opacity 1

	66%
		opacity 1

	100%
		opacity 0
