//.secondary-slice
//	margin-top: 30px


.slice-finger
	color: white
	display: inline-block
	font-family: $c4-medium
	font-size: 22px
	position: relative
	//margin-bottom:25px
	//margin-left: -20px

	span
		line-height:35px
		display inline-block
		padding 0 15px

		&.is-disabled
			background-color rgba(255,255,255, 0.3)

	i
		background-image: url("../images/icons/chevron_right_icon.png")
		background-repeat: no-repeat
		background-size: 30%
		background-position: center center
		display: block
		width: 35px
		height: 35px
		position: absolute
		right: -35px
		top: 0

	.on-now &
		background-color: $onnow

		i
			background-color: darken($onnow, 10%)

	.on-demand &
		background-color: $ondemand

		i
			background-color: darken($ondemand, 10%)

	.coming-up &
		background-color: $comingup

		i
			background-color: darken($comingup, 10%)

	.is-slategrey &
		background-color $slategrey

		i
			background-color $slategrey-dark
