$slick-radius = 15px


/*  Header
	---------------------------------- */

.slick-header
	background $grey
	width 100%
	padding 18px 15px

	.on-now &
		background $onnow

	.on-demand &
		background $ondemand

	.coming-up &
		background $comingup


	&--with-advert
		width auto
		margin-right 325px


/*  Navigation
	---------------------------------- */

.slick-header__nav
	padding 0
	//background theme-color()
	//background darken($onnow, 20%)
	//background theme(background-color)
	border-radius $slick-radius
	font-family $c4-regular
	font-size 12px
	display inline-block

	.on-now &
		background-color darken($onnow, 20%)

	&--cropped
		margin-left -340px


/*  Nav-Item
	---------------------------------- */

.slick-header__nav-item
	color white
	display inline-block
	list-style-type none
	background darken($onnow, 20%)
	border-radius $slick-radius
	padding-top 3px

	:hover
		color white

	&.is-selected
		color black
		background white

		:hover
			color black

	.on-demand &
		background-color darken($ondemand, 20%)


/*  Link
	---------------------------------- */

.slick-header__nav-link
	color inherit
	line-height 30px
	width 90px
	display inline-block
	text-align center


//Button('android.widget')
//.MediaItem[data-package="android.widget.List"]
//	background #ff9900
