.bh-btn
	background: white
	border: none
	height: 58px
	width: 58px
	-webkit-appearence: none
	background-image: url('/assets/images/latestNew.png');
	background-size: 100%;
	z-index: 1

	&.active
		background-image: url('/assets/images/latestNewActive.png');


	img
		height: 100%

	&.btn-latest
		background-color: $thunderbird
		z-index: 1

	&.btn-all
		background-image: url('/assets/images/allEpisodesNew.png');
		width: 105px
		height: 58px

	&.btn-first
		background-image: url('/assets/images/first_deselected.png');
		left: 310px
		position: absolute;
		top: 10px;

		&.active

			background-image: url('/assets/images/firstNewActive.png');