.bh-main-nav
	text-align: center 

	ul
		display: inline-block
		list-style-type: none
		padding: 0
		margin: 0 auto

		li
			background: white
			border-radius: 40px
			float: left
			margin-right: 10px
			width: auto
			padding: 0 20px

			&.ellipse
				width:45px
				height:45px

				&:before
					content: "..."
					font-size: 26px

			span
				display: none

			&.current
				background: $thunderbird
				width: auto

				a
					color: white

				
		a
			color: $capecod
			font-family: $c4-regular
			line-height: 45px
			text-decoration: none
			height: 45px


&.bh-text-nav ul li 
	width: auto
	padding: 0 10px


.bh-indicator-nav
	li
		position: relative
		height: 45px

		&.current:before
			display: none
		
		&:before
			border-radius: 50%
			content: ""
			position: absolute
			height: 15px
			width: 15px
			border: 1px solid $capecod
			top: 14px
			left: 14px