.bh-seperator
	background: $lightgrey
	height: 80px
	width: 100%
	padding: 20px
	position: relative
	margin-bottom: 30px

	.seperator-title
		color: $grey
		float: left
		font-size: 24px
		line-height: 40px
		margin: 0

	.seperator-info
		float: right
		width: 50%
		position: relative
		z-index: 2
	
	&::after
		content: ""
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 65px 100px 0 100px;
		border-color: $lightgrey transparent transparent transparent;
		position: absolute
		bottom: -20px
		left: 40%
		z-index: 1