.bh-scroll-nav
	background: $concrete
	height: 80px
	padding: 15px
	position: relative
	width: 100%

	.btn-all
		float: left
		

	h3
		color: $grey
		font-family: $c4-medium
		float: left
		font-size: 36px
		line-height: 60px
		margin: 0 0 0 20px

a.back-to-top
	color: $grey
	float: right
	font-family: $c4-medium
	font-size: 26px
	line-height: 60px
	text-decoration: none

	
	&:after
		background: url("../images/icon-btt.png") no-repeat center center white
		background-size: 27px 17px
		content: ""
		float: right
		margin-left: 20px
		height: 50px
		width: 50px

.bar-info
	font-family: $c4-medium
	font-size: 26px
	color: $grey
	position: absolute
	height: 100%
	line-height: 90px
	text-align: center
	width: 100%
	top: 0
	left: 0
	visibility: hidden

	&.info-visible
		visibility: visible