.bh-social-widget
	width: 290px
	.bh-follow-show
		border-bottom: 1px dotted $capecod
		overflow: hidden
		padding-bottom: 15px
		margin-bottom: 15px

	.bh-favourite-show
		overflow:hidden


	p
		font-family: $c4-regular;
		font-size: 18px
		float: left
		line-height: 32px

	.icon
		background-image: url('../images/social-icons-sprite.png');
		background-repeat: no-repeat
		display: inline-block
		height: 30px
		float: right
		margin-right: 10px
		text-indent: -999em
		width: 30px

		&.icon-twitter
			background-position: -38px 0px
		&.icon-pintrest
			background-position: -76px 0px
			margin-right: 0
		&.icon-favourite
			background-position: -112px 0px
			margin-right: 0
