li#categories
	padding-top: 20px

	+when(iphone)
		height: 447px
		padding-top: 0
		webkit-overflow-scrolling: touch
		z-index: 2
		height:  448px

.categories-wrapper
	overflow: hidden
	height:100%

	+when(iphone)
		height: 97%

	.section
		float: left

		+when(iphone)
			display: block
			float: none

	.categories-left
		
		img
			display: block
			margin: auto

			+when(iphone)
				padding-top: 20px

	.categories-right
		width: 765px

		+when(iphone)
			position: absolute
			left:100%
			transition: all .5s
			width: 100%

		&.animate-in
			display: block
			left: 0


.results-container
	background: $tiara
	height: 573px
	width: 100%
	overflow: scroll
	-webkit-transform: translate3d(0,0,0)
	-webkit-overflow-scrolling: touch

	ul
		height: 100%
		padding: 0

		li
			background: $tiara
			border-bottom: 1px solid $haze
			padding: 10px 20px
			overflow: hidden

			img
				float: left

				+when(iphone)
					width: 100px

			.list-copy
				float: left
				padding-left: 10px

				+when(iphone)
					width: 170px


.results-header
	background: $tiara
	border-bottom: 1px solid $haze
	overflow: hidden
	padding-left: 20px
	width: 100%

	h2
		margin: 11px 0


.back-link
	color: $capecod
	font-family: $c4-regular
	padding: 20px
	position: absolute
	
	text-decoration: none
	top: 0px
	left: 0px
