.wrap
  width 100%
  overflow hidden
  position relative
  height 368px
  background #FFF
  .leftOver
    height 368px
    width 300px
    background #FFF
    position absolute
    opacity 0.5
    pointer-events none
  .rightOver
    height 368px
    width 301px
    background #FFF
    position absolute
    opacity 0.5
    pointer-events none
    right 0

.my4carousel
  width -webkit-calc(428px * 3)
  overflow hidden
  height 368px
  position absolute
  left -128px
  ul
    width -webkit-calc(428px * 5)
    height 368px
    list-style-type none
    padding 0
    margin 0
    background #FFF
    li
      width 424px
      height 368px
      float left
      padding 0
      margin-right 4px
      background #FFF
      .top
        width 424px
        height 235px
        position relative
        h3
          bottom 0
          left 0
          position absolute
          background #FFF
          padding 0 20px
          margin 0
          line-height 2em
        a
          &.button
            top 50px
            left 0
            position absolute
            background #6C3A8D
            width 93px
            height 93px
            &.watch
              background-image url('/assets/images/wlp.png')
            &.remind
              background-image url('/assets/images/rmp.png')
            &.catch
              background-image url('/assets/images/catchP.png')  
            &.not
              background-image url('/assets/images/not.png')
              height 67px
              width 114px
              top 66px
      .bottom
        background #FFF
        width 424px
        height 132px
        img
          width 424px
          height 132px

