.feature-tile
 	background: black
 	width: 680px
 	position:relative
 	float: left
 	margin-top: 15px
 	font-family: "Channel 4 Medium",C4_head_med_reg,Arial,sans-serif
 	color:#555555

 	img
 		width:100%

 	.info
 		position: absolute
 		bottom: 0
 		width: 100%

 	.video-title
 		display: block

 		span
 			font-size:30px
 			background:white
 			padding:12px 10px 7px 10px
 			display:inline-block

 	.video-description
 		display:block

 		span
 			font-size:17px
 			background:white
 			border-top: solid 1px #f0f0f0
 			padding:7px 10px 3px 10px
 			display:inline-block

	.btn
		width: 76px
		height: 76px
		float: left

	a.remind-me
		display: none
		background-image: url('/assets/images/slices/Remind_Me_Large.png')
		background-size: 100%

	a.trailer
		display: none
		background-image: url('/assets/images/cta-button-tr.png')
		background-size: 100%

	.title-social
		background: rgba(233, 109, 93, 0.9)
		display:none
		padding:9px 5px 5px 5px
		color:white

.feature-tile.social
	.title-social
		display:block

.feature-tile.small-tile
 	background: blue
 	width:330px
 	margin-left: 13px

 	.btn
 		width: 50px
 		height: 50px

 	.video-title
 		display:block

 		span
 			font-size:17px
 			padding:9px 7px 4px 7px

 	.video-description
 		display:block

 		span
 			color:red
 			font-size:11px
 			padding:5px 7px 3px 7px

.feature-tile.remind-me
	a.remind-me
		display:block

.feature-tile.trailer
	display:block // override shame.styl

	a.trailer
		display:block

.feature-tile.large-title
	.video-title
		span
			line-height:37px
			font-size:20px
			padding-top:8px

	.video-description
		display:none

.feature-tile.btn-margin
	.btn.remind-me
		margin-right:5px
