ul.slideDownElements
	
	list-style-type: none;
	padding: 0
	margin: 0
	position: relative
	
	&>li
		width: 1024px;
		height: 640px;
		top: -640px
		position absolute
		z-index: 3
		-webkit-transition: top 0.5s
		background: $haze

		@media iphone

			width: 100%;
			height: 460px;
			top: -510px

.footerInner ul.slideDownElements li

	top: 0


#guide 

	background: #CCC
	width: 100%
	height: 640px

	.guideWrap

		width: 100%
		height: 640px
		overflow: hidden
		position: relative

		.days

			width: 1024px
			height: 45px
			border-bottom: 2px solid #0E2A2C
			
			@media iphone

				height: 33px
				position: relative
				border-top: 1px solid #3E5556

				img
					height: 34px
					width: auto
					position: absolute
					left: -245px	

		.scrollableArea
			
			
			width: 100%
			overflow-x: scroll

			> div

				width: 2688px;

				@media iphone

					width: 1929px

					img
						height: 415px;
						width: auto;



					
				

		.stationIds
			
			width: 123px
			height: 523px
			position: absolute
			top: 93px
			left: 0
			-webkit-transition: opacity 0.5s
			box-shadow: 0 0 0px 0px white, 0 0 0px 0px white, 2px 0px 0px 0px rgba(50, 50, 50, 0.1), 2px 0px 0px 0px rgba(50, 50, 50, 0.1);

			@media iphone
				top: auto;
				bottom: 196px;
				overflow: hidden
				height: 376px
				width: 59px

				img 
					
					height: 376px
					width: 89px
					margin-left: -15px

		display: block


