.my4
	width: 100%;
	background: #F3F3F4;
	float: left
	position: relative

	#target
		position: absolute;
		left: 0
		top: 0
		background: #58595B
		width: 100%
		overflow: hidden;
		z-index: 999

		> h3
			float: left;
			background: #4590A1;
			color: #FFF
			display: inline-block
			text-decoration: none
			line-height: 66px
			padding: 0 0 0 20px
			font-size: 30px

			&:after
				content: " ";
				width: 63px
				height: 66px
				display: block
				float: right
				margin-left: 20px
				background: url('/assets/images/Bigcog.png')

		span.icon
			top: 141px		

		.close

			float: right;
			background: #4590A1;
			color: #FFF
			display: inline-block
			text-decoration: none
			line-height: 48px
			padding: 0 20px
			font-size: 24px
			margin: 24px 0
			font-family: "Channel 4 Medium",C4_head_med_reg,Arial,sans-serif;


		.greyArea

			background: #464749
			overflow: hidden
			padding: 10px
			width: 100%


	#my4Overlay
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #FFF;
		z-index: 998;
		opacity: .8;



	h3
		clear: both

		a
			background: #4590A1;
			color: #FFF
			display: inline-block
			text-decoration: none
			line-height: 48px
			padding-left: 20px
			font-size: 24px

			&:after
				content: " ";
				width: 46px
				height: 48px
				display: block
				float: right
				margin-left: 20px
				background: url('/assets/images/my4Chevron.png')

		span 

			color: #4590A1
			padding-left: 20px

	ul.my4Row

		list-style-type: none
		padding: 0
		left: 0;
		width: -webkit-calc(100% - 10px)
		margin-left: 10px
		clear: both
		float:left
		padding-bottom: 10px

		li
			float: left
			width: -webkit-calc(33.333% - 10px)
			margin-right: 10px
			margin-bottom: 10px
			background: #FFF;
			position: relative
			padding-bottom: 8px
			min-height: 250px

			span.icon
				background: url('/assets/images/playDL.png')
				width: 40px
				height: 40px
				display: block
				position: absolute
				top: 145px
				left: 0

			img 
				width: 100%
				height: auto;
				display: block

			h2
				padding: 8px 0 0 10px
				margin: 0
				color: #4590A1

			h3
				padding: 4px 0 0 10px
				margin: 0
				color: #646473


.my-4-bar
	position: fixed
	bottom: 0
	height: 80px
	width: 100%
