.noti
  position: absolute
  display: table
  width: auto
  height: 45px
  z-index: 999
  visibility: hidden

  &.noti-my4
    background: url('../images/notify/note-my4.png') no-repeat center left #4190A2

    &::after
      content: ""
      background: url('../images/notify/note-my4-chevron.png') no-repeat center right
      position: absolute
      right: 0
      width: 100%
      height: 100%


  .noti-msg
    color: white
    display: table-cell
    font-family: $c4-medium
    padding-left: 85px
    vertical-align: middle
