.feature-box
	display:inline-block

.section-header
	margin: 40px 0 20px 0
	width:100%

	a
		background:#E34234
		color:white
		text-decoration:none
		font-size:30px
		padding:15px 10px 10px 10px
		font-family: "Channel 4 Medium",C4_head_med_reg,Arial,sans-serif

	a.up-next
		background:#ed8877
		margin-left:-5px
		padding-left:15px
		padding-right:15px

.section-header.live-header
	margin-bottom:30px

.tile-grid
	overflow:hidden

.col-3
	.video-tile
		width:334px
		margin-right:10px

	.video-tile:last-child
		margin-right:0

.col-4
	.video-tile
		width:248px
		margin-right:10px

	.video-tile:last-child
		margin-right:0

.col-5
	margin-right:-5px

img
	display:block

a.arr-right
	background: url('/assets/images/slices/Red_Arrow.png') no-repeat #E34234
	background-size: 57px
	background-position: top right
	padding-right: 70px

#watch-live-tab
	background: url('/assets/images/slices/Watch_Live_Tab.png') no-repeat -5px 3px #E34234 !important
	background-size: 80% 100% !important
	padding-left:60px
	padding-right:20px
	position:relative

.arrow-down
	position:absolute
	width: 0
	height: 0
	bottom:-10px
	left:70px
	border-left: 10px solid transparent
	border-right: 10px solid transparent
	border-top: 10px solid #e34234
