ul.onNowPromo
  background: white
  float: left
  margin: 0 auto
  width: 1024px
  padding: 10px
  list-style-type: none
  @media iphone
    width: 100%
    padding: 0
    margin: 0

  li
    min-height: 243px
    width: 33.33%
    float: left
    border-right: 2px solid #FFF
    border-bottom: 2px solid #FFF
    box-sizing: border-box
    position: relative
    background-position: center center
    background-repeat: no-repeat
    background-size: 100% 100%

    @media iphone
      width: 100%
      border: 0
      border-bottom: 2px solid #BFBFBF
      margin-bottom: 10px
      min-height: 220px

    &:last-child
      
      @media iphone

        margin-bottom: 0


    &:nth-child(3), &:nth-child(6)
      border-right: 0

    .titleMessage
      background-color: rgba(0, 0, 0, 0.5)
      color: #FFF
      font-size: 13px
      padding: 0 3px 0 30px
      line-height: 27px
      background-position: 2% 50%
      background-repeat: no-repeat

      &.favourite
        background-image: url('../images/favourite.png')
      &.friends
        background-image: url('../images/friends.png')
      &.reminder
        background-image: url('../images/reminder.png')

    .controls
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 30px
      z-index: 2

      @media iphone
        display: none;

      p
        position: absolute
        bottom: 0
        left: auto
        right: 8px
        line-height: 30px
        color: #FFF
        font-size: 12px
        margin: 0

      .playIcon
        width: 0
        height: 0
        border-top: 8px solid transparent
        border-bottom: 8px solid transparent
        border-left: 8px solid #FFF
        position: absolute
        bottom: 7px
        left: 12px

      .durationIndicator
        position: absolute
        bottom: 0
        left: 30px
        height: 30px
        width: -webkit-calc(100% - 30px)

        span
          height: 30px
          width: 100%
          background: #FF6919
          display: block


    h2
      margin: 0
      position: absolute
      bottom: 30px
      left: 0
      display: inline-block
      max-width: 50%
      font-size: 18px
      z-index: 1

      @media iphone
        bottom: 0

      span
        background: #000
        color: #FFF
        padding: 4px
        display: inline-block
        c4-medium()
        
    
    h3
      position: absolute
      bottom: 35px
      right: 5px
      display: block
      width: 60px
      height: 60px
      background-repeat: no-repeat
      background-position: 50% 50%
      text-indent: -9999px
      z-index: 1

      @media iphone

        bottom: 60px

      &.c4
        background-image: url('../images/4Logo.png')
      &.e4
        background-image: url('../images/e4Logo.png')
      &.f4
        background-image: url('../images/film4Logo.png')
      &.m4
        background-image: url('../images/more4Logo.png')
      &.c47
        background-image: url('../images/4Logo.png')
      &.music4
        background-image: url('../images/4MusicLogo.png')
    &:after
      content: " "
      display: block
      width: 100%
      height: 116px
      background: url('../images/treatment.png') bottom left repeat-x
      position: absolute
      bottom: 0
      left: 0
      z-index: 0

      @media iphone
        display: none;

