
.onNowFooterStage
  
  width: 100%
  overflow: hidden;

  ul.onNowFooter
    background: white
    float: left
    width: 1004px
    padding: 10px 0 0 0
    margin: 0 10px
    list-style-type: none
    border-top: 1px solid #C5CCCC

    &.animate
      transition: margin 0.2s;

    @media iphone
      width: 915px
      padding: 0 0 10px 0
      margin: 0 0 0 5px
      border: 0  
      
    li
      min-height: 101px
      width: 33.33%
      float: left
      border-right: 2px solid #FFF
      
      background: #E6E9E9

      @media iphone

        width: 300px
        float:left
        margin-top: 20px
        margin-left: 5px;
        background: #E6E9E9;
        border: 0;
        padding: 0
        border-bottom: 2px solid #BFBFBF


      &:nth-child(3)
        border-right: 0
        margin-right: 0

      div
        float: left
        width: 43%

        @media iphone
          width: 150px;   
          

      p.mobileMessage
        
        display: none

        @media iphone  

          background: #768587
          color: white
          display: inline-block
          padding: 3px 6px
          margin-bottom: 3px

      h2
        margin: 6px 0 6px 0
        line-height: 1.2em
        font-size: 15px
        color: #353D3F
        font-weight: bold
        margin-left: 10px

      p.copy
        margin-left: 10px
        font-size: 13px
        line-height: 1.1em
        color: #353D3F

      img
        float: right
        display: block

        &.phoneOnly
          display: none
        
        @media iphone
          width: 150px
          height: 150px
          display: none

          &.phoneOnly
        
            display: block
      

.statusIndicator
  
  width: auto;
  padding: 0 0 10px 0 
  margin: 0
  display: none
  margin-left: calc(50% - 35px)
  height: 2px

  @media iphone

    display: block

  li
  
    list-style-type:none
    float:left
    width: 20px
    background: #8B9899
    height: 2px
    line-height: 0
    padding: 0
    margin: 0 5px 0 0

    &:last-child

      margin-right: 0
  
    &.active
      
      background: #000  







