

#search .searchWrapper
	background: red;
	width: 984px;
	margin: 20px;

	@media iphone

		margin: 10px
		width: -webkit-calc(100% - 20px);

	.searchInput

		float: left;
		width: -webkit-calc(100% / 4);

		@media iphone

			width: 100%
			position: relative	
		

		input[type='search']

			border: 0
			line-height: 24px
			width: -webkit-calc(100% - 20px)
			padding: 0 5px
			margin: 0
			box-sizing: border-box
			display: block

			@media iphone

				width: 100%

		ul
			list-style-type: none
			padding: 0
			margin: 10px 0 0
			float:left

			@media iphone

				width: 100%
				position: absolute;
				top: 20px;
				background: rgba(255, 255, 255, 0.7)
				z-index: 20



			li	
				padding: 0 5px
				margin: 0
				line-height: 1.4em
				color: #666

				span
					
					color: #000
					font-weight: bold	



	.searchResults

		float: left
		width: -webkit-calc( 100% * 0.75);
		background: #CCC;
		height: 604px
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;


		@media iphone

			width: 100%	
			height: 404px
			margin-top: 10px
			background: transparent
			overflow: none;
			

		ul 

			list-style-type: none	
			float:left;
			margin: 10px 0 0
			padding: 0

			@media iphone

				width: 100%
				margin: 0


			li

				display: none;
				float: left;
				border-right: 1px dotted #000

				@media iphone

					width: 100%
					border: 0

				img

					width: 251px
					height: 220px
					margin: 0 10px;

					@media iphone

						width: 100%
						height: auto
						margin: 10px 0 0
			
			li:first-child

				border: 0

					
			



