.page-container
	.fake-video-link, .fake-trailer-link, [class*='-brand-link'], .reminder-link
		display: none
		position: absolute
		opacity: 0.5

	&.now-on

		.now-on-link
			display: block

	&.on-demand

		.on-demand-link
			display: block

	&.coming-up

		.coming-up-link
			display: block

.now-on-link.hollyoaks-trailer-link
	top: 1031px
	left: 398px
	width: 58px
	height: 58px

.now-on-link.hollyoaks-brand-link
	top: 1090px
	left: 341px
	width: 330px
	height: 95px

.now-on-link.hollyoaks-remindme-1
	top: 310px
	left: 682px
	width: 45px
	height: 45px


.now-on-link.hollyoaks-brand-link-2
	top: 195px
	left: 682px
	width: 330px
	height: 185px


.now-on-link.e4-link
	top: 1130px;
	left: 350px;
	width: 50px;
	height: 50px;
	z-index: 5;
	opacity: .5

.now-on-link.e4-link2
	top: 622px;
	left: 215px;
	width: 50px;
	height: 50px;
	z-index: 5;
	opacity: .5	

.now-on-link.watchlive-e4-link
	top: 500px;
	left: 208px;
	width: 195px;
	height: 110px;
	z-index: 5;
	opacity: .5


.on-demand-link.hollyoaks-brand-link
	top: 510px
	left: 345px
	width: 330px
	height: 250px
	z-index: 5

.on-demand-link.inbetweeners-brand-link
	top: 1736px
	left: 515px
	width: 240px
	height: 385px
	z-index: 5

.on-demand-link.shorts-link
	top: 2158px
	left: 0px
	width: 189px
	height: 55px
	z-index: 5

.coming-up-link.hollyoaks-brand-link
	top: 1090px
	left: 15px
	width: 320px
	height: 95px
	z-index: 5

.coming-up-link.madeinchelsea-brand-link
	top: 35px
	left: 345px
	width: 665px
	height: 265px
	z-index: 5

.coming-up-link.hollyoaks-trailer-link
	top: 905px;
	left: 15px;
	width: 320px;
	height: 180px;
	z-index: 5;



.coming-up-link.mic-trailer-link
	top:315px
	left: 435px
	width: 80px
	height: 80px
	z-index: 5

.coming-up-link.mic-reminder-link
	top:315px
	left: 350px
	width: 80px
	height: 80px
	z-index: 5

.video-container
	position: absolute
	top: 0
	right: -100%
	transition: all 0.8s ease
	background-color: red;

	+when(ipad)
		top: 0px
		position: fixed

	&.active
		right:50%
		z-index: 11
		margin-right: -512px


.trailer
	display: none

	&.active
		display: block

.trailer-container	
	position: fixed
	top: 0
	width: 1024px
	height: 768px
	background: #CCC;
	z-index:11

	a 
		opacity: .2

	.brand-link
		display: block;
		width: 260px;
		height: 70px;
		position: absolute;
		z-index: 12;
		top: 0;
		left: 70px;

	.brand-link-alt
		display: block;
		width: 260px;
		height: 70px;
		position: absolute;
		z-index: 12;
		top: 0;
		left: 231px;

	.brand-link-alt-mic
		display: block;
		width: 260px;
		height: 70px;
		position: absolute;
		z-index: 12;
		top: 0;
		left: 572px;

	.close-link
		display: block;
		width: 135px;
		height: 60px;
		position: absolute;
		z-index: 12;
		top: 0;
		left: 890px;

	.menu-link
		display: block;
		width: 65px;
		height: 65px;
		position: absolute;
		z-index: 12;
		top: 0;
		left: 0;

	.related-link
		display: block;
		width: 1015px;
		height: 695px
		position: absolute;
		z-index: 12;
		top: 65px;
		left: 5px;

	.next-trailer
		display: block;
		width: 1015px;
		height: 550px;
		position: absolute;
		top: 65px;
		left: 5px;



.bh-btn.btn-latest
	position:absolute
	top: 10px
	right: 225px

#modalWindow
	position: fixed;
	left:50%; 
	top:50%;
	transform:translate(-50%,-50%); 
	-webkit-transform:translate(-50%,-50%); 
	z-index: 999

#modalWindow .wrapA {
	position: relative
}

#modalWindow .wrapA a{
	display: block
	width: 202px;
	height: 54px
	position: absolute;
	bottom: 36px 
	left: 36px
}

#globalOverlay
	position: fixed;
	top: 0
	right: 0
	bottom: 0
	left: 0
	background: black
	z-index: 998
	opacity: 0.5

a.close2:hover
	
	background-image: url('/assets/images/homeHover.png');

