.primary-slice	
	height:282px
	margin: 10px 10px 0

	+when(iphone)
		height: 169px
		margin: 0

//.secondary-slice
	margin: 0 10px

	+when(iphone)
		margin: 0

		.tile-social-meta
			+when(iphone)
				display: none
		button.reminder
			+when(iphone)
				display: none


.tile-flag
	background: white
	c4-medium()
	font-size: 14px
	padding: 2px 6px
	position: absolute
	left: 0
	top: 10px
	text-transform: uppercase
	z-index: 2

.tile
	height:100%
	overflow:hidden
	position:relative

	
	img
		position: absolute
		left: 0
		z-index: 1
		width: 100%

.featured-tile
	float: left
	margin-right: 2px
	width:500px

	+when(iphone)
		width: 100%

.tile-title
	background-color: black
	bottom: 30px
	color: white
	font-family: $c4-regular
	font-size: 16px
	padding: 5px
	position: absolute
	z-index: 2

	&.on-demand
		bottom:48px

		+when(iphone)
			bottom: 64px

.tile-sans-info
	.tile-title
		bottom: 0

.tile-broadcast-info
	background: RGBA(0,0,0,0.8)
	color: white
	position: absolute
	padding: 0 35px 0px 5px
	bottom: 0
	line-height: 30px
	z-index: 2

	&:after
		content: ""
		background-repeat: no-repeat
		background-position: center center
		background-size:100%
		width: 25px;
		height: 25px;
		z-index: 2;
		position: absolute;
		right: 5px;
		top: 3px;

	&.four:after
		background-image: url('../images/4Logo.png')
	&.efour
		
		&:after
			background-image: url('../images/e4Logo.png')

		+ button.reminder.mini-reminder
			left: 147px
	
	&.filmfour:after
		background-image: url('../images/film4Logo.png')
	&.fourseven

		&:after
			background-image: url('../images/47Logo.png')

		+ button.reminder.mini-reminder
			left: 147px

button.reminder
	background:$green
	border:none

	&:before
		content: ""
		background: url('../images/reminder-icon.png') no-repeat center left
		background-size: 100%
		position: absolute
		width: 15px
		height: 15px
		left:5px
		top: 5px

	&.featured-reminder
		color:white
		font-size: 14px
		font-weight:100
		text-transform:uppercase
		position: absolute
		padding-left: 25px
		z-index: 2
		bottom: 0
		left: 200px
		line-height:25px

		+when(iphone)
			font-size: 12px
			padding-left: 20px
			padding-right: 3px

		&:before
			+when(iphone)
				left: 2px
				top: 6px

	&.mini-reminder
		padding:0
		position:absolute
		bottom: 0
		left:140px
		height:30px
		width:25px
		z-index: 2


.quad-module
	float: left
	height: 100%
	width: 502px

	+when(iphone)
		background: $haze
		height: 216px
		overflow: hidden
		width: 100%
		

	.carouselStage
		
		+when(iphone)
			overflow: hidden
			width: 100%

	ul.carouselGroup
		height: 100%
		overflow: hidden
		list-style-type: none
		padding-left: 0
		padding-bottom: 12px

		+when(iphone)
			width: 1328px

		&.animate
			transition: margin .4s

		li
			float: left
			width: 250px

			+when(iphone)
				margin-top: 22px
				padding-left: 32px
				width: 268px


			&:nth-child(2n+1)
				margin-right: 2px

		.tile-title.mobile-hidden
			display:block
	
	.mini-tile
		+when(iphone)
			height:165px

		.tile-social-meta
			+when(iphone)
				background: white
				color: $grey
				font-family: $body-font
				padding-right: 10px
				width: auto

	.statusIndicator
		margin-left: -webkit-calc(50% - 60px)

.mini-tile
	float:left
	width: 250px
	height: 140px

	.tile-title.on-demand
		bottom: 0

	img
		bottom:0
		z-index: 1

	&:first-child, &:first-child + div
		margin-bottom:2px

//******

.tile-social-meta
	background:RGBA(0,0,0,0.7)
	color: white
	font-family: "Trebuchet MS"
	font-size: 13px
	line-height: 25px
	padding-left: 5px
	position: absolute
	width: 100%
	z-index: 2


.info-tile
	background: $haze
	float: left
	border-right: 2px solid #FFF
	min-height: 290px
	width: 25%;

	+when(iphone)
		border-top: 1px solid $lightgrey
		min-height: 94px
		max-height: 94px
		width:100%

	p
		padding: 0 10px

		&.broadcast-copy
			+when(iphone)
				display: none

		&.tile-title
			padding: 5px 10px

	.info-broadcast
		color: $capecod
		font-size: 16px
		font-weight: bold
		line-height: 30px

		+when(iphone)
			color: $grey
			font-size: 13px
			font-weight: 400
			padding-right: 0

	
	&:nth-child(4)
		border-right: 0

	.mini-tile
		+when(iphone)
			margin: 0
			height:94px
			width: 145px

		img
			+when(iphone)
				top: 6%


//********************

.feature-info
	line-height: 16px
	padding: 8px 5px

.tile-info-body
	+when(iphone)
		float: left
		padding-top: 6px
		width: 172px

.mobile-title
	color: $capecod
	font-size: 14px
	font-weight: bold



//*******************





