.wangCarousel
	
	.episode
		position: relative
		margin-bottom: 50px
		width: 500px

		&.episode-latest
			.episode-date::before
				background: url("../images/icon-latest-sprite.png") no-repeat
				background-position-x: -35px
				background-size: 200% 80%
				content: ""
				float: left
				height: 30px
				width: 30px

		&.highlight
			.episode-date
				background: $thunderbird
				color: white

				&::before
					background-position-x: 0px

			.episode-broadcast-info
				visibility: visible

			.cta
				height: 120px
				width: 120px
				top: 90px
				-webkit-appearance: none;
				background: transparent;
				border: 0;
				padding: 0;
				visibility: visible

				img
					width: 100%
					height: 100%
	
	.episode-date
		background: white
		color: $grey
		font-family: $c4-medium;
		font-size: 26px
		position: absolute
		bottom: 0
		padding: 10px 15px
		line-height: 30px

	.cta
		position: absolute
		visibility: hidden

	.episode-broadcast-info
		background: $thunderbird
		color: white
		visibility: hidden
		font-family: $c4-medium;
		font-size: 26px
		padding: 15px
		position: absolute
		bottom: -50px
		width: 100%