{{#if isSignedIn}}

	{{#if isFirstTimeUse}}
		
		{{responsive-image src="/assets/img/my4/signed_in_mobile.png, /assets/img/my4/signed_in_desktop.png, /assets/img/my4/signed_in_desktop.png"}}

	{{else}}

		{{responsive-image src="/assets/img/my4/regular_use_mobile.png, /assets/img/my4/regular_use_desktop.png, /assets/img/my4/regular_use_desktop.png"}}

	{{/if}}

{{else}}
	
	{{responsive-image src="/assets/img/my4/signed_out_mobile.png, /assets/img/my4/signed_out_desktop.png, /assets/img/my4/signed_out_desktop.png"}}

{{/if}}