{{global-ads}}
{{global-nav isDropdownOpen=isExpanded user=user signInClicked="openLoginModal" signOutClicked="signMeOut" accountSettingsClicked="goToSettings" listenTo=controller}}

<div id="main" class="container">
    {{outlet}}
</div>

{{page-footer}}

{{outlet player}}

{{#if isLoginOpen}}
	{{login-form signIn="signMeIn" cancel="closeLoginModal"}}
{{/if}}