<div class="catchup-page">
    <div class="container calendar-nav-container section-wrapper">

        <div class="calendar-nav" {{bind-attr class="isExpanded:collapsed:expanded"}}>
            {{responsive-image src="/assets/img/catchup/calendar_closed_mobile.png, /assets/img/catchup/calendar_closed_desktop.png, /assets/img/catchup/calendar_closed_desktop.png"}}
        </div>

        <div class="calendar-nav collapsed" {{bind-attr class="isExpanded:expanded:collapsed"}}>
            {{responsive-image src="/assets/img/catchup/calendar_open_mobile.png, /assets/img/catchup/calendar_open_desktop.png, /assets/img/catchup/calendar_open_desktop.png"}}
        </div>

        <a href="#" class="calendar-button" {{action 'toggleCalendar'}} {{bind-attr class="isExpanded:active"}}></a>
       
    </div>

    <div class="container">
        <div class="row">
            {{responsive-image src="/assets/img/catchup/tab_bar_mobile.png, /assets/img/catchup/tab_bar_desktop.png, /assets/img/catchup/tab_bar_desktop.png"}}
        </div>
    </div>

    <div class="container catchup-content">
        <div class="row">
            {{responsive-image src="/assets/img/catchup/catch_up_content_mobile.png, /assets/img/catchup/catch_up_content_desktop.png, /assets/img/catchup/catch_up_content_desktop.png"}}
        </div>
    </div>
</div>