<h2 class="section-title">Categories</h2>
<div class="container categories-nav">
    <ul class="list-inline pull-left">
    	<li>
    		{{#link-to 'categories.az' classNames='btn btn-pill'}}A - Z{{/link-to}}
    	</li>
    	<li>
    		{{#link-to 'categories.comedy' classNames='btn btn-pill'}}Comedy{{/link-to}}
    	</li>
    	<li>
    		{{#link-to 'categories.entertainment' classNames='btn btn-pill'}}Entertainment{{/link-to}}
    	</li>
    	<li>
    		{{#link-to 'categories.drama' classNames='btn btn-pill'}}Drama{{/link-to}}
    	</li>
    	<li>
    		{{#link-to 'categories.factual' classNames='btn btn-pill'}}Factual{{/link-to}}
    	</li>
    	<li>
    		{{#link-to 'categories.lifestyle' classNames='btn btn-pill'}}Lifestyle{{/link-to}}
    	</li>
    	<li>
    		{{#link-to 'categories.sport' classNames='btn btn-pill'}}Sport{{/link-to}}
    	</li>
    	<li>
    		{{#link-to 'categories.ad' classNames='btn btn-pill'}}Audio Described{{/link-to}}
    	</li>
    </ul>

    <ul class="pull-right list-inline">
    	<li><a href="#" class="btn btn-pill">˅ See All</a></li>
    </ul>
</div>
{{outlet}}