<div class="container e4 section-wrapper">
    <div class="row">
        <a href="#" {{action "goToLink" "simulcast-player"}} class="link-to-player"></a>

        {{responsive-image src="assets/img/e4/e4_mobile.png, assets/img/e4/e4_tablet.png, /assets/img/e4/e4_desktop.png"}}
   	 </div>
</div>