<div class="epg-page">
	<div class="container section-wrapper">
	    <div class="row date-time-picker">
            {{responsive-image src="/assets/img/epg/date_and_time_picker_mobile.png, /assets/img/epg/date_and_time_picker.png, /assets/img/epg/date_and_time_picker.png"}}

            <a href="#" class="catchup-link" {{action 'toggleCatchupCalendar'}} {{bind-attr class="isCatchupCalendarExpanded:active"}}></a>
	        {{#link-to 'epg' classNames="today-link"}}{{/link-to}}
	    </div>
	</div>

	<div class="container">
	    <div class="row">
	        {{responsive-image class="middle-content" src="/assets/img/epg/epg_mobile.png, /assets/img/epg/epg_desktop.png, /assets/img/epg/epg_desktop.png"}}
            <a href="#" class="hidden-link e4-hidden-link" {{action "goToLink" "e4"}}></a>
            <a href="#" class="hidden-link e4-hidden-link-caption" {{action "goToLink" "simulcast-player"}}></a>
	    	<div class="catchup-calendar-overlay" {{bind-attr class="isCatchupCalendarExpanded:expanded"}}>
	    		{{responsive-image src="/assets/img/epg/catchup_calendar_overlay_mobile.png, /assets/img/epg/catchup_calendar_overlay_desktop.png, /assets/img/epg/catchup_calendar_overlay_desktop.png"}}

	    		{{#link-to 'catchup' classNames='btn-31-july'}}{{/link-to}}
	    	</div>
	    </div>
	</div>

	<div class="js-epg-helper"></div>

    <div class="container epg-playbar-container js-epg-playbar-container">
	    <div class="row">
            {{epg-playbar}}
            {{!--{{responsive-image src="/assets/img/epg/epg_mobile.png, /assets/img/epg/epg_desktop.png, /assets/img/epg/epg_desktop.png"}}--}}
	    </div>
	</div>
</div>
