<div class="container home-page" id="homeContainer">
    <div class="row">
        {{ home-nav }}

        <div class="homepage-states">
            <div class="on-demand">
                {{responsive-image src="/assets/img/home/hp_on_demand_mobile.png, /assets/img/home/hp_on_demand_tablet.png, /assets/img/home/hp_on_demand_desktop.png"}}

                <a href="#" class="utopia-link-img" {{action "goToLink" "utopia-player"}}></a>
                <a href="#" class="utopia-link-caption" {{action "goToLink" "utopia"}}></a>

                <a href="#" class="catch-up-link" {{action "goToLink" "catchup"}}></a>

                <a href="#" class="short-link-finger-on-demand" {{action "goToLink" "shorts"}}></a>

                <a href="#" class="entertainment-link" {{action "goToLink" "/categories/entertainment"}}></a>

                <a href="#" class="mic-player-img" {{action "goToLink" "mic-player"}}></a>
                <a href="#" class="mic-player-caption" {{action "goToLink" "mic"}}></a>
            </div>

    		<div class="now-on">
    			{{responsive-image src="assets/img/home/hp_on_now_mobile.png, assets/img/home/hp_on_now_tablet.png, assets/img/home/hp_on_now_desktop.png"}}

                <a href="#" class="short-link" {{action "goToLink" "shorts"}}></a>

                <a href="#" class="short-link-finger-on-now" {{action "goToLink" "shorts"}}></a>

                <a href="#" class="mic-player-img" {{action "goToLink" "mic-player"}}></a>
                <a href="#" class="mic-player-caption" {{action "goToLink" "mic"}}></a>


                
                <a href="#" class="utopia-link-img-now-on" {{action "goToLink" "utopia-player"}}></a>
                <a href="#" class="utopia-link-caption-now-on" {{action "goToLink" "utopia"}}></a>

                <a href="#" class="e4-link" {{action "goToLink" "e4"}}></a>

                <a href="#" class="simulcast-link" {{action "goToLink" "simulcast-player"}}></a>

    		</div>

    		<div class="coming-up">
    			{{responsive-image src="/assets/img/home/hp_on_soon_mobile.png, /assets/img/home/hp_on_soon_tablet.png, /assets/img/home/hp_on_soon_desktop.png"}}
                <a href="#" class="mic-player-img" {{action "goToLink" "mic-player"}}></a>
                <a href="#" class="mic-player-caption" {{action "goToLink" "mic"}}></a>
            </div>
        </div>

   	 </div>

</div>


