<div class="mic-gallery page-wrapper">
    <div class="container">
        <div class="row">
            {{#link-to 'mic'}}{{responsive-image src="/assets/img/mic-gallery/mic_gallery_title_mobile.png, /assets/img/mic-gallery/mic_gallery_title_tablet.png, /assets/img/mic-gallery/mic_gallery_title_desktop.png"}}{{/link-to}}
        </div>
    </div>

    <div class="container">
        <div class="row">
            {{responsive-image src="/assets/img/mic-gallery/gallery_list_content_mobile.png, /assets/img/mic-gallery/gallery_list_content_tablet.png, /assets/img/mic-gallery/gallery_list_content_desktop.png"}}
        </div>
    </div>
</div>