<div style="position:absolute; width:100%; height:100%; top: 0; z-index: 2100;">
    <div class="mic-player-landscape">
        <div class="container">
            <div class="row">
                {{#link-to 'mic-player'}}<img src="/assets/img/players/img-close.gif" alt="" class="close-btn"/>{{/link-to}}
                {{#link-to 'mic-player'}}<img src="/assets/img/players/made_in_chelsea_player_inprogress_desktop.jpg" alt="" class="responsive-image"/>{{/link-to}}
            </div>
        </div>
    </div>
</div>