<div class="player-landscape" {{action 'nextSlide'}}>
	
	{{#if isPlaying}}
		<img src="/assets/img/players/made_in_chelsea_player_inprogress_desktop.jpg" class="responsive-image" />
	{{/if}}

	{{#if isEnded}}
		<img src="/assets/img/players/end_of_play_mic_mobile.jpg" class="responsive-image" />
	{{/if}}

	<a href="#" {{action 'goBack'}} class="close-btn-link"><img src="/assets/img/players/img-close.gif" alt=""/></a>

</div>
