<div class="brand-hub-page">

    <div class="container">
        <div class="row header-row">
            {{responsive-image src="/assets/img/mic-hub/brand_image_title_mobile.png, /assets/img/mic-hub/brand_image_title_desktop.png, /assets/img/mic-hub/brand_image_title_desktop.png"}}
            {{favourite-button classNames='mic-favourite' clicked="createNotification" user=user}}
            {{reminder-button classNames='mic-reminder' clicked="createNotification" user=user listenTo=controller}}
        </div>
    </div>

    <div class="container">
        <div class="row">
            {{bh-paginator seriesVal=seriesVal min=minSeries max=maxSeries itemClicked='seriesItemClicked' classNames='mic'}}
        </div>
    </div>

    <div class="container">
        <div class="row bh-carousel-container brand-mic">
        	{{bh-carousel item=this slideChanged='currentSlideChanged' playClicked='gotoPlayer' triggerRemindMe='triggerRemindMe' listenTo=controller startIndex=episodeIndex}}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="bh-advert-container">
                <img src="/assets/img/mic-hub/MPU.png" class="bh-advert-img" />
            </div>

            <div class="bh-meta-container">
                <div class="bh-img-container">
                    <img class="bh-metadata-img" {{bind-attr src=metadata}} />
                </div>

                <div class="bh-img-container">
                    <img class="bh-episodes-img" {{bind-attr src=episodes}} />
                </div>
            </div>
        </div>
    </div>

    <div class="container profiles-gallery">
        <div class="row">
            {{#link-to 'micGallery'}}
                {{responsive-image src="/assets/img/mic-hub/profiles_mobile.png, /assets/img/mic-hub/profiles_tablet.png, /assets/img/mic-hub/profiles_desktop.png"}}
            {{/link-to}}
        </div>
    </div>

</div>