<div class="container myfour-page section-wrapper">
	<div class="row myfour-nav">
		{{responsive-image src="/assets/img/my4/my4_title_mobile.png, /assets/img/my4/my4_title_desktop.png, /assets/img/my4/my4_title_desktop.png"}}

		<a href="#" {{bind-attr class=":btn-notification hasNotification isNotificationOpen"}} {{action 'triggerNotificationsDropdown'}}></a>

		{{#link-to 'myfour.settings' classNames="btn-settings"}}{{/link-to}}

	</div>

	<div class="row myfour-content">
		{{outlet}}

		{{#if isNotificationOpen}}
			{{notification-dropdown hasNotification=hasNotification clicked="closeNotificationsDropdown"}}
		{{/if}}
		
	</div>

</div>