<div class="page-wrapper">
    <div class="container section-wrapper">
        <div class="row">
            {{responsive-image src="/assets/img/shorts/shorts_mobile.png, /assets/img/shorts/shorts_tablet.png, /assets/img/shorts/shorts_desktop.png"}}
        </div>
    </div>
</div>