<div class="player-landscape">
	
	{{#if isPlaying}}
		<img src="/assets/img/players/simulcast_player_in_progress_mobile.png" class="responsive-image" />
	{{/if}}

	<a href="#" {{action 'goBack'}} class="close-btn-link"><img src="/assets/img/players/img-close.gif" alt=""/></a>

</div>
