<div class="player page-wrapper">

    <div class="container">
        <div class="row player-header">
            <a href="#" {{action 'goBack'}} class="close-btn-link"><img src="/assets/img/players/img-close.gif" alt="" class="close-btn-image"/></a>
            {{responsive-image src="/assets/img/players/simulcast_player_header_mobile.png, /assets/img/players/simulcast_player_header.png, /assets/img/players/simulcast_player_header.png"}}
        </div>
    </div>

    <div class="container player-container" {{action 'nextSlide'}}>
        <div class="row img-player-container">

            {{#if isReady}}
                {{responsive-image src="/assets/img/players/simulcast_player_mobile.png, /assets/img/players/simulcast_player.png, /assets/img/players/simulcast_player.png" className="img-player"}}
            {{/if}}

            {{#if isPlaying}}
                {{responsive-image src="/assets/img/players/simulcast_player_inprogress_mobile.png, /assets/img/players/simulcast_player_in_progress.png, /assets/img/players/simulcast_player_in_progress.png" className="img-player"}}
            {{/if}}

            {{#if isEnded}}
                {{responsive-image src="/assets/img/players/simulcast_player_inprogress_mobile.png, /assets/img/players/simulcast_player_in_progress.png, /assets/img/players/simulcast_player_in_progress.png" className="img-player"}}
            {{/if}}
        </div>
    </div>

    <div class="container">
        <div class="row">
            {{responsive-image src="/assets/img/players/simulcast_player_content_mobile.png, /assets/img/players/simulcast_player_content_desktop.png, /assets/img/players/simulcast_player_content_desktop.png"}}
        </div>
    </div>

</div>