<div class="brand-hub-page section-wrapper">
	
	<div class="container">
        <div class="row header-row">
            {{responsive-image src="/assets/img/utopia-hub/utopia_brand_image_nav_mobile.png, /assets/img/utopia-hub/utopia_brand_image_nav_desktop.png, /assets/img/utopia-hub/utopia_brand_image_nav_desktop.png"}}
            {{favourite-button classNames='utopia-favourite' clicked="createNotification" user=user}}
            {{reminder-button classNames='utopia-reminder' clicked="createNotification" user=user}}
        </div>
    </div>

    <div class="container">
        <div class="row">
            {{bh-paginator seriesVal=seriesVal min=minSeries max=maxSeries itemClicked='seriesItemClicked' classNames='utopia'}}
        </div>
    </div>

    <div class="container">
        <div class="row bh-carousel-container brand-utopia">
        	{{bh-carousel item=this slideChanged='currentSlideChanged' playClicked='gotoPlayer' startIndex=episodeIndex listenTo=controller classNames='fdfd'}}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="bh-advert-container">
                <img src="/assets/img/mic-hub/MPU.png" class="bh-advert-img" />
            </div>

            <div class="bh-meta-container">
                <div class="bh-img-container">
                    <img class="bh-metadata-img" {{bind-attr src=metadata}} />
                </div>

                <div class="bh-img-container">
                    <img class="bh-episodes-img" {{bind-attr src=episodes}} />
                </div>
            </div>
        </div>
    </div>

    <br/>

</div>
