<div class="player page-wrapper">

    <div class="container">
        <div class="row player-header">
            <a href="#" {{action 'goBack'}} class="close-btn-link"><img src="/assets/img/players/img-close-utopia.gif" alt="" class="close-btn-image"/></a>
            {{responsive-image src="/assets/img/players/utopia_player_header_mobile.png, /assets/img/players/utopia_player_header_desktop.png, /assets/img/players/utopia_player_header_desktop.png"}}
            {{#link-to 'utopia' class="hidden-link"}}{{/link-to}}
        </div>
    </div>

    <div class="container player-container" {{action 'nextSlide'}}>
        <div class="row img-player-container">

            {{#if isReady}}
                {{responsive-image src="/assets/img/players/utopia_player_mobile.png, /assets/img/players/utopia_player_desktop.png, /assets/img/players/utopia_player_desktop.png" className="img-player"}}
            {{/if}}

            {{#if isPlaying}}
                {{responsive-image src="/assets/img/players/utopia_player_in_progress_mobile.png, /assets/img/players/utopia_player_in_progress_desktop.png, /assets/img/players/utopia_player_in_progress_desktop.png" className="img-player"}}
            {{/if}}

            {{#if isEnded}}
                {{responsive-image src="/assets/img/players/end_of_play_utopia_player.png, /assets/img/players/end_of_play_utopia_player.png, /assets/img/players/end_of_play_utopia_player.png" className="img-player"}}
            {{/if}}

        </div>
    </div>

    <div class="container">
        <div class="row">
            {{responsive-image src="/assets/img/players/utopia_player_content_mobile.png, /assets/img/players/utopia_player_content_desktop.png, /assets/img/players/utopia_player_content_desktop.png"}}
        </div>
    </div>

</div>