<div style="position:absolute; width:100%; height:100%; top: 0; z-index: 2100;">
    <div class="mic-player-landscape">
        <div class="container">
            <div class="row">
                {{#link-to 'utopia-player'}}<img src="/assets/img/players/img-close-utopia.gif" alt="" class="close-btn"/>{{/link-to}}
                <img src="/assets/img/players/utopia_player_inprogress_mobile.png" alt="" class="responsive-image"/>
            </div>
        </div>
    </div>
</div>