<div class="player-landscape" {{action 'nextSlide'}}>

	{{#if isPlaying}}
		<img src="/assets/img/players/utopia_player_inprogress_mobile.png" class="responsive-image" />
	{{/if}}

	{{#if isEnded}}
		<img src="/assets/img/players/end_of_play_utopia_mobile.jpg" class="responsive-image" />
	{{/if}}

	<a href="#" {{action 'goBack'}} class="close-btn-link"><img src="/assets/img/players/img-close-utopia.gif" alt=""/></a>

</div>