<div class="container catchup-bg">
    <div class="row">
        {{responsive-image class="middle-content" src="/assets/img/epg/epg_mobile.png,/assets/img/epg/catch_up_content_desktop.png,/assets/img/epg/catch_up_content_desktop.png"}}
    </div>
</div>