<div class="container">
    <div class="row">
        {{responsive-image class="middle-content" src="/assets/img/epg/epg_mobile.png, /assets/img/epg/epg_desktop.png, /assets/img/epg/epg_desktop.png"}}
    </div>
</div>